Repository irisnet/irishub, pull requests merged in 2019-01, with the labels that each got.

#959 R4R: fee param gov
  Gopkg.lock
  app/protocol/engine.go
  app/protocol/store_keys.go
  app/v0/export.go
  app/v0/invariants.go
  app/v0/protocol_v0.go
  client/gov/cli/query.go
  modules/auth/ante.go
  modules/auth/ante_test.go
  modules/auth/context_test.go
  modules/auth/feeauth.go
  modules/auth/feekeeper.go
  modules/auth/feekeeper_test.go
  modules/auth/genesis.go
  modules/auth/keeper_test.go
  modules/auth/params.go
  modules/distribution/alias.go
  modules/distribution/keeper/allocation.go
  modules/distribution/keeper/keeper.go
  modules/distribution/keeper/test_common.go
  modules/distribution/types/keepers.go
  modules/gov/simulation/sim_test.go
  modules/gov/test_common.go
  modules/mint/abci_app.go
  modules/mint/expected_keepers.go
  modules/mint/keeper.go
  modules/mock/app.go
  modules/params/errors.go
  modules/stake/simulation/invariants.go
  modules/stake/simulation/sim_test.go
  types/errors.go
Labels: bank, params, refactoring

#960 fix test failue
  modules/mock/app.go
Labels: testing

#961 R4R: disable set withdraw addr
  client/distribution/cli/query.go
  client/distribution/cli/sendtx.go
  client/distribution/lcd/query.go
  client/distribution/lcd/rest.go
  client/distribution/lcd/sendtx.go
  cmd/iriscli/main.go
  docs/cli-client/distribution/set-withdraw-address.md
  docs/features/distribution.md
  docs/zh/cli-client/distribution/set-withdraw-address.md
  docs/zh/features/distribution.md
  lite/swagger-ui/swagger.yaml
  modules/distribution/handler.go
  modules/distribution/types/errors.go
  modules/distribution/types/msg.go
Labels: client, staking

#962 R4R: fix test issue and setup the default auth genesis
  app/v0/genesis.go
  modules/distribution/alias.go
  modules/distribution/simulation/msgs.go
  modules/distribution/types/codec.go
  modules/distribution/types/msg_test.go
  tests/cli/distribution_test.go
Labels: simulation, staking

#964 R4R: Refactor stake and distribution Params
  app/v0/export.go
  app/v0/genesis.go
  app/v0/protocol_v0.go
  client/gov/cli/query.go
  modules/distribution/alias.go
  modules/distribution/genesis.go
  modules/distribution/keeper/allocation_test.go
  modules/distribution/keeper/delegation_test.go
  modules/distribution/keeper/keeper.go
  modules/distribution/keeper/keeper_test.go
  modules/distribution/keeper/params.go
  modules/distribution/keeper/test_common.go
  modules/distribution/keeper/validator_test.go
  modules/distribution/types/genesis.go
  modules/distribution/types/params.go
  modules/gov/test_common.go
  modules/params/errors.go
  modules/service/params.go
  modules/slashing/genesis.go
  modules/slashing/handler_test.go
  modules/slashing/keeper_test.go
  modules/slashing/test_common.go
  modules/slashing/tick_test.go
  modules/stake/genesis.go
  modules/stake/handler.go
  modules/stake/handler_test.go
  modules/stake/keeper/delegation.go
  modules/stake/keeper/delegation_test.go
  modules/stake/keeper/keeper.go
  modules/stake/keeper/params.go
  modules/stake/keeper/slash_test.go
  modules/stake/keeper/test_common.go
  modules/stake/simulation/msgs.go
  modules/stake/stake.go
  modules/stake/types/params.go
  modules/stake/types/params_test.go
  types/duration.go
Labels: params, staking

#970 R4R: modify params default value
  app/v0/genesis.go
  modules/service/params.go
  modules/stake/types/params.go
  tests/cli/service_test.go
  types/duration.go
Labels: params

#972 R4R : Fix issue that miss checking the first one in Coins
  types/coin.go
  types/coin_test.go
Labels: bug, types

#974 R4R: Define switch heights for protocol patches
  app/protocol/patches.go
Labels: upgrade

#968 R4R: Load codec in each protocol
  app/app.go
  app/baseapp.go
  app/protocol/engine.go
  app/protocol/types.go
  app/v0/protocol_v0.go
  modules/distribution/types/codec.go
  modules/gov/codec.go
  modules/gov/keeper.go
  modules/gov/simulation/sim_test.go
  modules/gov/test_common.go
  modules/guardian/wire.go
  modules/mint/wire.go
  modules/mock/app.go
  modules/service/wire.go
  modules/stake/types/codec.go
  modules/upgrade/test_common.go
Labels: upgrade

#976 R4R: Load codec in each protocol
  CHANGELOG.md
  app/app.go
  app/baseapp.go
  app/protocol/types.go
  app/v0/protocol_v0.go
  app/v1/protocol_v1.go
  version/version.go
Labels: patch, upgrade

#977 R4R: update gov docs
  client/gov/cli/sendtx.go
  docs/cli-client/gov/pull-params.md
  docs/cli-client/gov/submit-proposal.md
  docs/features/governance.md
  docs/zh/cli-client/gov/pull-params.md
  docs/zh/cli-client/gov/submit-proposal.md
  docs/zh/features/governance.md
Labels: documentation, governance

#936 R4R: Replay blockchain to any given height
  Gopkg.lock
  app/app.go
  app/replay.go
  app/v0/export.go
  cmd/iris/main.go
  server/constructors.go
  server/export.go
  store/iavlstore.go
  types/decimal_test.go
  types/errors.go
Labels: upgrade

#913 R4R: Reset slashing periods on export
  app/v0/export.go
  client/stake/utils.go
  lite/swagger-ui/swagger.yaml
  modules/slashing/genesis.go
  modules/slashing/hooks.go
  modules/slashing/slashing_period.go
  modules/slashing/slashing_period_test.go
  modules/stake/types/validator.go
Labels: bug, export

#983 R4R: Fix the system_halt_period bug
  modules/gov/govparams_util.go
Labels: bug, governance

#984 R4R: Update export doc
  docs/software/export.md
  docs/zh/software/export.md
  server/export.go
Labels: documentation, export

#985 R4R: Make iristool debug hack available
  tools/debug/hack.go
  tools/debug/main.go
Labels: tools

#987 R4R: Move Max Proposal Num out of the VotingProcedure
  modules/gov/errors.go
  modules/gov/govparams_util.go
  modules/gov/handler.go
  modules/gov/keeper.go
  modules/gov/params.go
Labels: governance

#986 R4R: Fix issue cased by truncation in delegate share rate calculation
  modules/stake/simulation/invariants.go
  modules/stake/types/validator.go
Labels: bug, staking

#995 R4R: bug fix for type conversion
  modules/stake/types/params.go
Labels: bug

#998 R4R: Don't register struct of protocol
  types/protocol.go
Labels: upgrade

#1009 Add err checking for broadcast tx sync
  client/context/broadcast.go
Labels: bug, client

#1013 R4R: Add error check in BroadcastTxSync
  client/context/broadcast.go
Labels: bug, client

#997 R4R: Software upgrade test for v0.10
  app/app.go
  app/protocol/engine.go
  app/v1/export.go
  app/v1/genesis.go
  app/v1/gov/codec.go
  app/v1/gov/depositsvotes.go
  app/v1/gov/errors.go
  app/v1/gov/execute.go
  app/v1/gov/genesis.go
  app/v1/gov/govparams_util.go
  app/v1/gov/handler.go
  app/v1/gov/keeper.go
  app/v1/gov/keeper_keys.go
  app/v1/gov/msgs.go
  app/v1/gov/params.go
  app/v1/gov/proposal_halt.go
  app/v1/gov/proposal_params.go
  app/v1/gov/proposal_taxusage.go
  app/v1/gov/proposal_upgrade.go
  app/v1/gov/proposals.go
  app/v1/gov/queryable.go
  app/v1/gov/simulation/invariants.go
  app/v1/gov/simulation/msgs.go
  app/v1/gov/simulation/sim_test.go
  app/v1/gov/store_key.go
  app/v1/gov/tags/tags.go
  app/v1/gov/tally.go
  app/v1/gov/test_common.go
  app/v1/invariants.go
  app/v1/protocol_v1.go
  client/gov/cli/query.go
  client/gov/cli/sendtx.go
  types/protocol.go
  version/version.go
Labels: testing, upgrade

#1002 R4R: Add the threshold into SoftwareUpgradeProposal
  app/v0/protocol_v0.go
  client/gov/cli/flags.go
  client/gov/cli/sendtx.go
  docs/cli-client/gov/submit-proposal.md
  docs/features/upgrade.md
  docs/zh/cli-client/gov/submit-proposal.md
  docs/zh/features/upgrade.md
  modules/gov/errors.go
  modules/gov/execute.go
  modules/gov/keeper.go
  modules/gov/msgs.go
  modules/gov/proposal_upgrade.go
  modules/mock/app.go
  modules/upgrade/genesis.go
  modules/upgrade/handler.go
  modules/upgrade/params/upgrade_params.go
  modules/upgrade/tally.go
  modules/upgrade/upgradeparams_util.go
  types/protocol.go
Labels: governance, params, upgrade

#1018 R4R: Update the upgrade doc
  docs/cli-client/gov/submit-proposal.md
  docs/zh/cli-client/gov/submit-proposal.md
Labels: documentation, upgrade

#1020 R4R: Fix the bug that slashing/MaxEvidenceAge can't be changed
  modules/slashing/params.go
Labels: params

#1022 R4R: Fix the wrong range of auth/gasPriceThreshold
  modules/auth/params.go
Labels: params

#1023 R4R: Fix the Unit dislocation in ERROR message of ParameterChange/slashing
  modules/slashing/params.go
Labels: params

#1021 R4R: Fix the bug that empty param isn't be checked
  modules/gov/errors.go
  modules/gov/msgs.go
Labels: params

#1019 R4R: Fix bug in changing validator delgation accumulation update height
  modules/distribution/keeper/validator.go
Labels: bug

#1024 R4R: Fix the max num of the proposal with important level
  modules/gov/params.go
Labels: governance

#1027 R4R: Fix the error msg
  modules/gov/errors.go
  modules/gov/queryable.go
Labels: governance

#1025 R4R: Fix the Release0.10 bugs
  modules/auth/params.go
  modules/gov/errors.go
  modules/gov/msgs.go
  modules/gov/params.go
  modules/gov/queryable.go
  modules/slashing/params.go
Labels: governance, params

#1030 R4R: Limit the size of tx
  app/baseapp.go
  app/protocol/types.go
  app/v0/protocol_v0.go
  modules/auth/params.go
  modules/params/errors.go
  types/errors.go
Labels: security

#1031 R4R: ParamSets within params keeper
  app/v0/protocol_v0.go
  client/gov/cli/query.go
  client/gov/cli/sendtx.go
  client/gov/lcd/sendtx.go
  client/gov/utils.go
  modules/gov/execute.go
  modules/gov/handler.go
  modules/gov/msgs.go
  modules/params/helper.go
  modules/params/keeper.go
  modules/service/test_common.go
Labels: params

#1032 R4R: Tendermint's blockstore also needs to consume gas in storing txs
  app/baseapp.go
  modules/auth/ante.go
  modules/auth/ante_test.go
  modules/gov/msgs.go
Labels: security

#1043 R4R: Increase the cost of submitting proposals
  modules/gov/errors.go
  modules/gov/handler.go
  modules/gov/keeper.go
Labels: governance

#1034 R4R: Add more invariant checking for distribution and stake
  app/v0/invariants.go
  client/stake/cli/sendtx.go
  modules/bank/invariants.go
  modules/distribution/invariants.go
  modules/distribution/keeper/validator.go
  modules/distribution/types/keepers.go
  modules/distribution/types/validator_info.go
  modules/stake/invariants.go
Labels: invariants, staking

#1042 R4R: Improve invariant coverage and fix distribution bugs
  app/v0/invariants.go
  client/stake/cli/sendtx.go
  modules/bank/simulation/invariants.go
  modules/distribution/keeper/validator.go
  modules/distribution/simulation/invariants.go
  modules/distribution/types/keepers.go
  modules/distribution/types/validator_info.go
  modules/stake/simulation/invariants.go
Labels: invariants, staking

#1044 R4R: Make the query-tx human readable
  client/tendermint/rpc/block.go
  client/tendermint/tx/querytx.go
Labels: client

#1046 R4R: Modify the default maxnum of important and normal proposals
  modules/gov/params.go
Labels: governance

#1036 R4R: Make more check about every msg's ValidateBasic()
  modules/gov/errors.go
  modules/gov/msgs.go
  modules/guardian/error.go
  modules/guardian/msgs.go
  modules/service/msgs.go
  modules/stake/types/msg.go
  types/errors.go
  version/version.go
Labels: security

#1047 R4R: Update the gov doc
  docs/features/governance.md
  docs/zh/features/governance.md
Labels: documentation

#1049 R4R: Fix export genesis md5sum inconsistent issue
  app/v0/export.go
  server/export.go
Labels: export

#1048 R4R: Fix export genesis inconsistent issue
  app/v0/export.go
  server/export.go
Labels: bug, export

#1055 R4R: Disable max validator parameter checking in testnet
  modules/stake/types/params.go
Labels: params, staking

#1059 R4R: Add flag --output-file to save result and ensure the result is consistent
  docs/software/export.md
  docs/zh/software/export.md
  server/export.go
Labels: export

#1062 R4R: Add flag --output-file to save result and ensure result is consistent
  docs/software/export.md
  docs/zh/software/export.md
  server/export.go
Labels: export

#1061 R4R: Query cmd should return details about software upgrade proposal
  modules/gov/errors.go
  modules/gov/execute.go
  modules/gov/keeper.go
  modules/gov/proposal_taxusage.go
  modules/gov/proposal_upgrade.go
  modules/gov/proposals.go
  modules/gov/queryable.go
Labels: client, governance

#1063 R4R: Service/TxSizeLimit
  app/baseapp.go
  app/protocol/types.go
  app/v0/protocol_v0.go
  modules/auth/params.go
  modules/params/errors.go
  modules/service/msgs.go
  modules/service/params.go
  types/errors.go
Labels: security, service

#1056 R4R: block mint doesn't depend on BFT time
  modules/mint/abci_app.go
  modules/mint/minter.go
  modules/mint/minter_test.go
Labels: mint, security

#1066 R4R: Add support for consensus address and pubkey
  tools/debug/main.go
Labels: tools

#1067 R4R: Check negative numbers
  client/gov/cli/sendtx.go
Labels: client, governance

#1068 Query cmd should return details about software upgrade proposal
  modules/gov/errors.go
  modules/gov/execute.go
  modules/gov/keeper.go
  modules/gov/proposal_taxusage.go
  modules/gov/proposal_upgrade.go
  modules/gov/proposals.go
  modules/gov/queryable.go
  modules/upgrade/handler.go
  types/protocol.go
Labels: client, governance, upgrade

#1071 WIP: v0.10.1 version for class2 upgrade
  app/v1/gov/depositsvotes.go
  app/v1/gov/errors.go
  app/v1/gov/execute.go
  app/v1/gov/govparams_util.go
  app/v1/gov/handler.go
  app/v1/gov/keeper.go
  app/v1/gov/msgs.go
  app/v1/gov/params.go
  app/v1/gov/proposal_taxusage.go
  app/v1/gov/proposal_upgrade.go
  app/v1/gov/proposals.go
  app/v1/gov/queryable.go
  app/v1/invariants.go
  docs/software/export.md
  docs/zh/software/export.md
  modules/gov/errors.go
  modules/gov/execute.go
  modules/gov/keeper.go
  modules/gov/proposal_taxusage.go
  modules/gov/proposal_upgrade.go
  modules/gov/proposals.go
  modules/gov/queryable.go
  server/export.go
  version/version.go
Labels: tests, upgrade

#1076 R4R: update tendermint to v0.27.3-iris1 and setup the default params for test env
  Gopkg.lock
  Gopkg.toml
  modules/gov/params.go
Labels: params, tendermint

#1086 R4R: release version v0.10.0 and resolve conflict with master branch
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  Gopkg.lock
Labels: release

#1088 R4R: update tendermint to version v0.27.3-iris2
  Gopkg.lock
  Gopkg.toml
Labels: tendermint

#1072 R4R: no panic in cli
  cmd/iriscli/main.go
Labels: client

#1077 R4R: Fix infinite gas meter utilization during aborted ante handler executions
  app/baseapp.go
  modules/auth/ante.go
Labels: bank, bug

#1090 R4R: Modify the query-params error msg
  client/gov/cli/query.go
Labels: client, params

#1089 R4R: Add SoftwareUpgradeProposal length check and fix bug
  modules/gov/msgs.go
  modules/service/msgs.go
Labels: bug

#1094 R4R: update tendermint version and sync with release0.10 branch
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
Labels: tests, upgrade

#1093 R4R: update tendermint version and sync with release0.10 branch
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
Labels: tests, upgrade

#1097 R4R: update tendermint version and sync with release0.10 branch
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.md
  Gopkg.lock
Labels: tests, upgrade

#1106 R4R: Fix the doc
  docs/.vuepress/config.js
Labels: configuration, documentation

#1104 R4R: Fix cli query proposals error
  client/gov/cli/query.go
Labels: bug, client, governance

#1080 R4R: Censorship Slash
  app/baseapp.go
  app/v0/protocol_v0.go
  modules/slashing/keeper.go
  modules/slashing/params.go
  modules/slashing/tick.go
  modules/stake/keeper/slash.go
  types/context.go
Labels: security

#1109 R4R: release version v0.10.2
  CHANGELOG.md
  client/gov/cli/query.go
  client/stake/utils.go
  docs/.vuepress/config.js
  version/version.go
Labels: release

#1111 R4R: Make test_unit pass
  modules/slashing/params.go
Labels: tests

#1102 R4R: Improve bech32 prefixes config
  Makefile
  scripts/setProdEnv.sh
  types/address_test.go
  types/config.go
Labels: configuration

#1115 R4R: Slash,Gov and Upgrade Logger
  modules/gov/execute.go
  modules/gov/handler.go
  modules/gov/keeper.go
  modules/slashing/keeper.go
  modules/slashing/tick.go
  modules/upgrade/handler.go
  modules/upgrade/keeper.go
  modules/upgrade/tally.go
Labels: logger

#1108 R4R: refactor mint and distribution log
  app/v0/invariants.go
  modules/distribution/abci_app.go
  modules/distribution/handler.go
  modules/distribution/keeper/allocation.go
  modules/distribution/keeper/delegation.go
  modules/distribution/keeper/validator.go
  modules/distribution/types/delegator_info.go
  modules/distribution/types/delegator_info_test.go
  modules/distribution/types/fee_pool.go
  modules/distribution/types/fee_pool_test.go
  modules/distribution/types/total_accum.go
  modules/distribution/types/total_accum_test.go
  modules/distribution/types/validator_info.go
  modules/distribution/types/validator_info_test.go
  modules/mint/abci_app.go
Labels: logger

#1116 R4R: update the output format of the query proposals
  modules/gov/codec.go
  modules/gov/keeper.go
  modules/gov/proposal_halt.go
  modules/gov/proposal_params.go
  modules/gov/proposal_taxusage.go
  modules/gov/proposal_upgrade.go
  modules/gov/proposals.go
  modules/gov/queryable.go
  tests/cli/gov_test.go
  tests/cli/utils.go
Labels: governance

#1113 R4R: Improve the log for stake/slashing/service
  app/baseapp.go
  modules/gov/handler.go
  modules/service/handler.go
  modules/service/keeper.go
  modules/slashing/keeper.go
  modules/stake/handler.go
  modules/stake/keeper/_store.md
  modules/stake/keeper/delegation.go
  modules/stake/keeper/slash.go
  modules/stake/keeper/val_state_change.go
  modules/stake/keeper/validator.go
  modules/upgrade/handler.go
Labels: logger

#1118 R4R: add logs for the bank module
  modules/auth/keeper.go
  modules/bank/keeper.go
  modules/stake/handler.go
Labels: logger

#1121 R4R: Fix cli sidebar and module command list
  docs/.vuepress/config.js
  docs/cli-client/README.md
  docs/zh/cli-client/README.md
Labels: documentation

#1122 R4R: Fix cli sidebar and module command list
  docs/.vuepress/config.js
  docs/cli-client/README.md
  docs/zh/cli-client/README.md
Labels: documentation

#1120 R4R: Move distribution tests back to its module but under a sub-folder
  mock/app.go
  modules/distribution/tests/allocation_test.go
  modules/distribution/tests/delegation_test.go
  modules/distribution/tests/keeper_test.go
  modules/distribution/tests/test_common.go
  modules/distribution/tests/validator_test.go
Labels: staking, test

#1123 R4R: Check all logs with uniform standards
  modules/distribution/keeper/delegation.go
  modules/distribution/types/delegator_info.go
  modules/gov/execute.go
  modules/mint/abci_app.go
  modules/slashing/keeper.go
  modules/slashing/tick.go
  modules/stake/keeper/slash.go
Labels: logger

#1125 R4R: Enhance the query-signals
  client/upgrade/cli/query.go
Labels: client, upgrade

#1128 R4R: Fix the new query-signals cmd doc
  docs/cli-client/upgrade/query-signals.md
  docs/zh/cli-client/upgrade/query-signals.md
Labels: documentation, upgrade

#1126 R4R: Sync with release0.10 branch and ready to release v0.10.2-patch
  CHANGELOG.md
  client/gov/cli/query.go
  client/gov/lcd/query.go
  client/gov/lcd/sendtx.go
  client/stake/utils.go
  docs/.vuepress/config.js
  version/version.go
Labels: drill, upgrade

#1132 R4R: Fix the new query-signals cmd doc for 0.11.0
  docs/cli-client/upgrade/query-signals.md
  docs/zh/cli-client/upgrade/query-signals.md
Labels: documentation, upgrade

#1135 R4R: Handle expected abort during replay last block
  app/replay.go
Labels: bug, upgrade

#1136 R4R: return the default address if haven't set withdraw address
  client/distribution/lcd/query.go
Labels: client

#1138 R4R: Update the params
  client/gov/cli/sendtx.go
  docs/cli-client/gov/submit-proposal.md
  docs/cli-client/upgrade/query-signals.md
  docs/features/governance.md
  docs/zh/cli-client/gov/submit-proposal.md
  docs/zh/cli-client/upgrade/query-signals.md
  docs/zh/features/governance.md
  modules/gov/errors.go
  modules/gov/govparams_util.go
  modules/gov/keeper.go
  modules/gov/msgs.go
  modules/gov/params.go
  modules/gov/tags/tags.go
  modules/gov/tally.go
Labels: governance, param

#1139 cli return the delegator address if haven't set withdraw address
  client/distribution/cli/query.go
Labels: client

#1141 R4R: release version v0.10.2-patch
  CHANGELOG.md
  Gopkg.lock
  app/replay.go
  app/v1/gov/keeper.go
  version/version.go
Labels: drill, upgrade

#1131 R4R: Go through all the panics
  app/v0/protocol_v0.go
  modules/distribution/keeper/allocation.go
  modules/mint/keeper.go
  modules/service/handler.go
  modules/stake/keeper/delegation.go
  modules/stake/keeper/val_state_change.go
  modules/stake/keeper/validator.go
  modules/upgrade/handler.go
Labels: error-handling

#1143 R4R: Go through all the panics for v0.11
  app/v0/protocol_v0.go
  modules/distribution/keeper/allocation.go
  modules/mint/keeper.go
  modules/service/handler.go
  modules/stake/keeper/delegation.go
  modules/stake/keeper/val_state_change.go
  modules/stake/keeper/validator.go
  modules/upgrade/handler.go
Labels: error-handling

#1148 R4R: Update tendermint version
  Gopkg.lock
  Gopkg.toml
Labels: tendermint, upgrade

#1150 R4R: Update the params For release0.11
  client/gov/cli/sendtx.go
  docs/cli-client/gov/submit-proposal.md
  docs/features/governance.md
  docs/zh/cli-client/gov/submit-proposal.md
  docs/zh/features/governance.md
  modules/gov/msgs.go
  modules/gov/params.go
Labels: param

#1145 R4R: Internal 0.11 version for class2 upgrade drill
  Gopkg.lock
  Gopkg.toml
  app/app.go
  app/v1/export.go
  app/v1/genesis.go
  app/v1/gov/codec.go
  app/v1/gov/depositsvotes.go
  app/v1/gov/errors.go
  app/v1/gov/execute.go
  app/v1/gov/genesis.go
  app/v1/gov/govparams_util.go
  app/v1/gov/handler.go
  app/v1/gov/invariants.go
  app/v1/gov/keeper.go
  app/v1/gov/keeper_keys.go
  app/v1/gov/msgs.go
  app/v1/gov/params.go
  app/v1/gov/proposal_halt.go
  app/v1/gov/proposal_params.go
  app/v1/gov/proposal_taxusage.go
  app/v1/gov/proposal_upgrade.go
  app/v1/gov/proposals.go
  app/v1/gov/queryable.go
  app/v1/gov/store_key.go
  app/v1/gov/tags/tags.go
  app/v1/gov/tally.go
  app/v1/gov/test_common.go
  app/v1/invariants.go
  app/v1/protocol_v0.go
  client/gov/cli/query.go
  client/gov/cli/sendtx.go
  client/gov/lcd/query.go
  client/gov/lcd/sendtx.go
  client/gov/utils.go
  docs/cli-client/upgrade/query-signals.md
  lite/swagger-ui/swagger.yaml
  modules/distribution/types/codec.go
  types/rational.go
  version/version.go
Labels: drill, upgrade

#1151 R4R: handle unexpected behavior during replay last block
  app/replay.go
Labels: upgrade

#1152 R4R: Fix the class2 bug for v0.11.0-rc1-patch
  app/v1/gov/handler.go
  version/version.go
Labels: drill, upgrade

#1156 R4R: Fix the stake_test_cli
  tests/cli/stake_test.go
Labels: test

#1157 R4R: Fix the stake_test_cli for release0.11
  tests/cli/stake_test.go
Labels: test

#1160 R4R: Make the output of iriscli status indent
  client/tendermint/rpc/status.go
Labels: client

#1161 R4R: Make the output of iriscli status indent for release0.11
  client/tendermint/rpc/status.go
Labels: client

#1164 R4R: Fix the iriscli gov error
  client/gov/utils.go
Labels: governance

#1163 R4R: Fix the iriscli gov error for release0.11
  client/gov/utils.go
Labels: governance

#1168 R4R: Fix bug that evidence age doesn't take effect
  modules/slashing/keeper.go
  modules/slashing/params.go
  modules/slashing/tick.go
Labels: bug, slash

#1146 R4R: Update docs for v0.11.0
  docs/cli-client/distribution/set-withdraw-address.md
  docs/cli-client/gov/query-params.md
  docs/cli-client/tendermint/validator-set.md
  docs/features/distribution.md
  docs/features/mint.md
  docs/get-started/Full-Node.md
  docs/get-started/Install-the-Software.md
  docs/get-started/Join-the-Testnet.md
  docs/get-started/README.md
  docs/resources/validator-faq.md
  docs/zh/cli-client/distribution/set-withdraw-address.md
  docs/zh/cli-client/gov/query-params.md
  docs/zh/cli-client/tendermint/validator-set.md
  docs/zh/features/distribution.md
  docs/zh/features/mint.md
  docs/zh/get-started/Full-Node.md
  docs/zh/get-started/Install-the-Software.md
  docs/zh/get-started/Join-the-Testnet.md
  docs/zh/get-started/README.md
  docs/zh/resources/validator-faq.md
Labels: documentation

#1176 R4R: Fix failed unit test
  modules/slashing/keeper_test.go
Labels: test

#1178 R4R: Release version v0.11.0
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  version/version.go
Labels: release

#1181 R4R: Update the doc for master
  docs/cli-client/gov/README.md
  docs/cli-client/status/README.md
  docs/zh/cli-client/gov/README.md
  docs/zh/cli-client/status/README.md
Labels: documentation

#1180 R4R: Doc For Develop
  docs/cli-client/gov/README.md
  docs/cli-client/status/README.md
  docs/features/basic-concepts/fee.md
  docs/features/basic-concepts/gov-params.md
  docs/software/tool.md
  docs/zh/cli-client/gov/README.md
  docs/zh/cli-client/status/README.md
  docs/zh/features/basic-concepts/fee.md
  docs/zh/features/basic-concepts/gov-params.md
  docs/zh/software/tool.md
Labels: documentation

#1183 R4R: stake metrics
  app/app.go
  app/v0/protocol_v0.go
  cmd/iris/main.go
  modules/gov/test_common.go
  modules/service/test_common.go
  modules/slashing/app_test.go
  modules/slashing/test_common.go
  modules/stake/app_test.go
  modules/stake/keeper/keeper.go
  modules/stake/keeper/metrics.go
  modules/stake/keeper/test_common.go
  modules/stake/keeper/val_state_change.go
  modules/stake/stake.go
  modules/upgrade/test_common.go
  server/constructors.go
  server/start.go
  tools/debug/hack.go
Labels: metric

#1185 R4R: Fix unit test error
  modules/distribution/tests/test_common.go
Labels: test

#1186 R4R: Add share percent in lcd unbond and redelegate
  Gopkg.lock
  client/stake/cli/sendtx.go
  client/stake/lcd/sendtx.go
  client/stake/utils.go
  lite/swagger-ui/swagger.yaml
Labels: client, stake

#1189 R4R: Add distribution metrics
  app/app.go
  app/v0/protocol_v0.go
  modules/distribution/alias.go
  modules/distribution/keeper/allocation.go
  modules/distribution/keeper/delegation.go
  modules/distribution/keeper/keeper.go
  modules/distribution/keeper/metrics.go
  modules/gov/test_common.go
Labels: metric

#1193 R4R: Add service metrics
  app/v0/protocol_v0.go
  modules/service/handler.go
  modules/service/keeper.go
  modules/service/metrics.go
  modules/service/test_common.go
  modules/stake/keeper/metrics.go
Labels: metric

#1194 R4R: Finish the upgrade metric
  app/v0/protocol_v0.go
  modules/upgrade/handler.go
  modules/upgrade/keeper.go
  modules/upgrade/metric.go
  modules/upgrade/test_common.go
Labels: metric

#1197 R4R: Finish the gov metrics
  app/v0/protocol_v0.go
  modules/gov/execute.go
  modules/gov/handler.go
  modules/gov/keeper.go
  modules/gov/metrics.go
  modules/gov/test_common.go
  tests/sim/gov/sim_test.go
Labels: metric

#1199 R4R: Refactor prometheus and update doc
  docs/.vuepress/config.js
  docs/software/monitor.md
  docs/software/tool.md
  docs/zh/software/monitor.md
  docs/zh/software/tool.md
  tools/prometheus/consensus/metrics.go
  tools/prometheus/governance/metrics.go
  tools/prometheus/mempool/metrics.go
  tools/prometheus/p2p/metrics.go
  tools/prometheus/provider.go
  tools/prometheus/server.go
  tools/prometheus/server_test.go
  tools/prometheus/system/metrics.go
Labels: documentation, metric

#1198 R4R: Change page and size query parameter name
  client/tendermint/tx/searchtx.go
  lite/swagger-ui/swagger.yaml
Labels: bug

#1196 R4R: Add invariant check metrics and move invariant level to iris.toml
  app/app.go
  app/baseapp.go
  app/options.go
  app/v0/invariants.go
  app/v0/metrics.go
  app/v0/protocol_v0.go
  cmd/iris/main.go
  server/config/config.go
  server/config/toml.go
  server/start.go
Labels: invariant

#1209 R4R: Update the genesis-file.md
  docs/features/basic-concepts/genesis-file.md
  docs/features/basic-concepts/gov-params.md
  docs/zh/features/basic-concepts/genesis-file.md
  docs/zh/features/basic-concepts/gov-params.md
Labels: documentation
