Repository irisnet/irishub, pull requests merged in 2019-05, with the labels that each got.

#1417 R4R: Add json-indent for keys operation
  client/keys/cli/add.go
  client/keys/cli/list.go
  client/keys/cli/root.go
  client/keys/cli/show.go
  client/keys/utils.go
Labels: enhancement, key

#1418 R4R: Fix redelegation query by using Querier
  client/stake/cli/query.go
  modules/stake/querier/queryable.go
  modules/stake/stake.go
Labels: client, enhancement

#1407 R4R: Fix genesis communityTax validation bug
  modules/distribution/types/params.go
Labels: bug, distr

#1419 R4R: Fix decimal output format
  modules/gov/proposals.go
  modules/slashing/params.go
Labels: bug, client

#1415 R4R: Improve CLI and LCD APIs
  Gopkg.lock
  Gopkg.toml
  client/bank/lcd/query.go
  client/bank/lcd/rest.go
  client/bank/lcd/sendtx.go
  client/distribution/lcd/rest.go
  client/keys/utils.go
  client/service/lcd/query.go
  client/service/lcd/sendtx.go
  client/slashing/lcd/rest.go
  client/stake/lcd/query.go
  client/stake/lcd/sendtx.go
  client/tendermint/rpc/rest.go
  client/tx/cli/broadcast.go
  client/tx/cli/sign.go
  client/tx/lcd/broadcast.go
  client/tx/lcd/rest.go
  client/tx/lcd/sign.go
  cmd/iriscli/main.go
  docs/light-client/README.md
  docs/zh/light-client/README.md
  lite/lcd.go
  lite/swagger-ui/swagger.yaml
  server/init/gentx.go
  tests/lcd/lcd_test.go
Labels: client, enhancement

#1424 R4R: Replace dep with go mod
  Dockerfile
  Dockerfile-testnet
  Gopkg.lock
  Gopkg.toml
  Makefile
  docs/software/How-to-install-irishub.md
  docs/zh/software/How-to-install-irishub.md
  go.mod
  go.sum
  scripts/Makefile
Labels: refactoring

#1425 R4R: Replace loosen token with loose tokens
  client/bank/cli/query.go
  client/bank/lcd/query.go
  client/bank/utils.go
  docs/cli-client/bank/token-stats.md
  docs/features/mint.md
  docs/software/monitor.md
  docs/zh/cli-client/bank/token-stats.md
  docs/zh/features/mint.md
  lite/swagger-ui/swagger.yaml
Labels: enhancement

#1427 R4R: Add community tax query and drop distrInfo query
  client/distribution/cli/query.go
  client/distribution/lcd/query.go
  client/distribution/lcd/rest.go
  cmd/iriscli/main.go
  docs/cli-client/distribution/README.md
  docs/cli-client/distribution/community-tax.md
  docs/cli-client/distribution/delegation-distr-info.md
  docs/cli-client/distribution/delegator-distr-info.md
  docs/cli-client/distribution/validator-distr-info.md
  docs/light-client/README.md
  docs/zh/cli-client/distribution/README.md
  docs/zh/cli-client/distribution/community-tax.md
  docs/zh/cli-client/distribution/delegation-distr-info.md
  docs/zh/cli-client/distribution/delegator-distr-info.md
  docs/zh/cli-client/distribution/validator-distr-info.md
  docs/zh/light-client/README.md
  lite/swagger-ui/swagger.yaml
  modules/distribution/alias.go
  modules/distribution/keeper/querier.go
  modules/distribution/types/dec_coin.go
  tests/cli/distribution_test.go
  tests/cli/utils.go
Labels: distr, documentation, refactoring

#1437 R4R: Improve irislcd API
  client/bank/lcd/sendtx.go
  client/distribution/lcd/rest.go
  client/tendermint/rpc/rest.go
  client/tx/lcd/rest.go
  docs/light-client/README.md
  docs/zh/light-client/README.md
  lite/swagger-ui/swagger.yaml
Labels: enhancement

#1442 R4R: Update Tendermint to v0.28.0
  go.mod
  go.sum
Labels: tendermint

#1445 R4R: Drop txs post
  client/tendermint/tx/rest.go
  docs/light-client/README.md
  docs/zh/light-client/README.md
  lite/swagger-ui/swagger.yaml
Labels: client, refactoring

#1444 R4R: Fix token stats bug
  modules/auth/querier.go
Labels: bank, bug, client

#1447 R4R: Skip account check in generate-only mode
  client/bank/cli/sendTx.go
Labels: bank, bug, client, enhancement

#1450 R4R: Fix unit test
  modules/auth/querier_test.go
Labels: bug, test

#1449 R4R: Fix unit test
  modules/auth/querier_test.go
Labels: bug, test

#1452 R4R: Docfix `create CHANGELOG.md` and `re-check go version and IRIShub version`
  docs/light-client/CHANGELOG.md
  docs/software/How-to-install-irishub.md
  docs/zh/software/How-to-install-irishub.md
Labels: build, documentation

#1455 R4R: Replace ICS with module name and revert post redelegation
  lite/swagger-ui/swagger.yaml
Labels: client, documentation

#1454 R4R: Update kms document
  docs/software/kms/kms.md
  docs/software/kms/kms_yubihsm.md
  docs/zh/software/kms/kms.md
  docs/zh/software/kms/kms_yubihsm.md
Labels: documentation, kms

#1469 R4R: Add asset module
  app/v1/asset/errors.go
  app/v1/asset/genesis.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_keys.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  app/v1/asset/params.go
  app/v1/asset/querier.go
  app/v1/asset/test_common.go
  app/v1/asset/wire.go
Labels: asset

#1484 R4R: Update install doc
  docs/software/How-to-install-irishub.md
  docs/zh/software/How-to-install-irishub.md
Labels: documentation

#1483 R4R: Update tendermint dependence to develop branch
  go.mod
  go.sum
Labels: tendermint

#1482 R4R: Merge release0.14 to master
  PENDING.md
  docs/software/How-to-install-irishub.md
  docs/zh/software/How-to-install-irishub.md
  version/version.go
Labels: release

#1480 R4R: Restrict ParameterChangeProposal to modify one parameter at a time
  app/v1/gov/errors.go
  app/v1/gov/execute.go
  app/v1/gov/handler.go
  app/v1/gov/msgs.go
  client/gov/cli/sendtx.go
  client/gov/lcd/sendtx.go
  client/gov/utils.go
  docs/cli-client/gov/submit-proposal.md
  docs/zh/cli-client/gov/submit-proposal.md
Labels: governance, param, refactoring

#1490 R4R: Do not convert lcd account query result
  client/bank/lcd/query.go
  lite/swagger-ui/swagger.yaml
Labels: bank, client

#1470 R4R: Support multi signature account
  app/v1/asset/keeper.go
  app/v1/asset/test_common.go
  app/v1/auth/ante.go
  app/v1/auth/ante_test.go
  app/v1/auth/stdtx.go
  client/keys/cli/add.go
  client/keys/cli/delete.go
  client/tx/cli/multisign.go
  client/tx/cli/sign.go
  client/utils/utils.go
  cmd/iriscli/main.go
  crypto/keys/codec.go
  crypto/keys/keybase.go
  crypto/keys/types.go
  modules/auth/ante_test.go
  modules/auth/stdtx.go
Labels: enhancement, key

#1496 R4R: Check lcd error handling
  client/bank/lcd/query.go
  client/bank/lcd/sendtx.go
  client/distribution/lcd/query.go
  client/stake/lcd/utils.go
Labels: bug, client

#1485 R4R: Add gateway creation
  app/protocol/constants.go
  app/v1/asset/errors.go
  app/v1/asset/gateway.go
  app/v1/asset/genesis.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_keys.go
  app/v1/asset/msgs.go
  app/v1/asset/wire.go
  app/v1/genesis.go
  app/v1/protocol_v1.go
Labels: asset, enhancement

#1502 R4R: Fix build error
  app/v1/export.go
  app/v1/protocol_v1.go
  client/gov/cli/sendtx.go
Labels: build

#1507 Merge release0.14 to master
  CHANGELOG.md
  app/protocol/patches.go
  client/bank/lcd/query.go
  client/bank/lcd/sendtx.go
  client/distribution/lcd/query.go
  client/stake/lcd/utils.go
  docs/light-client/CHANGELOG.md
  docs/software/How-to-install-irishub.md
  docs/zh/light-client/CHANGELOG.md
  docs/zh/software/How-to-install-irishub.md
  lite/swagger-ui/swagger.yaml
  modules/stake/handler_test.go
  modules/stake/keeper/delegation.go
  version/patches.go
  version/version.go
Labels: release
