Repository irisnet/irishub, pull requests merged in 2019-12, with the labels that each got.

#2111 Update coinswap.md
  docs/features/coinswap.md
  docs/zh/features/coinswap.md
Labels: coin-swap, documentation

#2110 R4R: Fix HTLC CLI
  client/htlc/cli/flags.go
  client/htlc/cli/sendtx.go
  docs/cli-client/htlc.md
  docs/zh/cli-client/htlc.md
Labels: CLI, HTLC, bug

#2118 R4R: Solve the bug that snapshot is sometimes unsuccessful
  cmd/iris/main.go
  server/snapshot.go
Labels: CLI

#2102 R4R: Refactor mint module
  app/app.go
  app/sim_test.go
  cli_test/cli_test.go
  cli_test/mint_test.go
  go.mod
  lcd_test/helpers.go
  lcd_test/lcd_test.go
  modules/mint/abci.go
  modules/mint/abci_test.go
  modules/mint/alias.go
  modules/mint/client/cli/query.go
  modules/mint/client/rest/query.go
  modules/mint/client/rest/rest.go
  modules/mint/expected_keepers.go
  modules/mint/genesis.go
  modules/mint/internal/keeper/keeper.go
  modules/mint/internal/keeper/keeper_test.go
  modules/mint/internal/keeper/querier.go
  modules/mint/internal/keeper/querier_test.go
  modules/mint/internal/types/codec.go
  modules/mint/internal/types/errors.go
  modules/mint/internal/types/events.go
  modules/mint/internal/types/expected_keepers.go
  modules/mint/internal/types/genesis.go
  modules/mint/internal/types/keys.go
  modules/mint/internal/types/minter.go
  modules/mint/internal/types/minter_test.go
  modules/mint/internal/types/params.go
  modules/mint/keeper.go
  modules/mint/module.go
  modules/mint/params.go
  modules/mint/simulation/decoder.go
  modules/mint/simulation/decoder_test.go
  modules/mint/simulation/genesis.go
  modules/mint/simulation/params.go
  modules/mint/tags/tags.go
  modules/mint/wire.go
  simapp/app.go
Labels: API, CLI, client, enhancement, mint

#2114 R4R: Refactor guardian module
  app/app.go
  cli_test/guardian_test.go
  cli_test/test_helpers.go
  cmd/iris/testnet.go
  go.mod
  modules/guardian/alias.go
  modules/guardian/client/cli/flags.go
  modules/guardian/client/cli/query.go
  modules/guardian/client/cli/tx.go
  modules/guardian/genesis.go
  modules/guardian/handler.go
  modules/guardian/internal/keeper/keeper.go
  modules/guardian/internal/keeper/keeper_test.go
  modules/guardian/internal/keeper/querier.go
  modules/guardian/internal/types/codec.go
  modules/guardian/internal/types/errors.go
  modules/guardian/internal/types/event.go
  modules/guardian/internal/types/genesis.go
  modules/guardian/internal/types/keys.go
  modules/guardian/internal/types/msgs.go
  modules/guardian/internal/types/types.go
  modules/guardian/keeper_test.go
  modules/guardian/module.go
  modules/guardian/tags/tags.go
  modules/guardian/test_common.go
  simapp/app.go
Labels: API, CLI, client, guardian, refactoring

#2125 R4R: Merge from v1.0.0
  app/app.go
  modules/guardian/internal/keeper/keeper_test.go
  simapp/app.go
Labels: guardian

#2107 R4R: Refactor asset module
  app/app.go
  cli_test/asset_test.go
  cli_test/test_helpers.go
  go.mod
  modules/asset/alias.go
  modules/asset/client/cli/flags.go
  modules/asset/client/cli/query.go
  modules/asset/client/cli/tx.go
  modules/asset/client/cli/utils.go
  modules/asset/client/rest/query.go
  modules/asset/client/rest/rest.go
  modules/asset/client/rest/tx.go
  modules/asset/client/rest/utils.go
  modules/asset/exported/exported.go
  modules/asset/genesis.go
  modules/asset/genesis_test.go
  modules/asset/handler.go
  modules/asset/internal/keeper/ante.go
  modules/asset/internal/keeper/ante_test.go
  modules/asset/internal/keeper/fees.go
  modules/asset/internal/keeper/keeper.go
  modules/asset/internal/keeper/keeper_keys.go
  modules/asset/internal/keeper/keeper_test.go
  modules/asset/internal/keeper/params.go
  modules/asset/internal/keeper/querier.go
  modules/asset/internal/types/asset.go
  modules/asset/internal/types/codec.go
  modules/asset/internal/types/errors.go
  modules/asset/internal/types/events.go
  modules/asset/internal/types/expected_keepers.go
  modules/asset/internal/types/family.go
  modules/asset/internal/types/gateway.go
  modules/asset/internal/types/genesis.go
  modules/asset/internal/types/keys.go
  modules/asset/internal/types/msgs.go
  modules/asset/internal/types/msgs_test.go
  modules/asset/internal/types/params.go
  modules/asset/internal/types/params_test.go
  modules/asset/internal/types/querier.go
  modules/asset/internal/types/source.go
  modules/asset/internal/types/tags.go
  modules/asset/module.go
  modules/asset/simulation/decoder.go
  modules/asset/simulation/genesis.go
  modules/asset/test_common.go
  simapp/app.go
  types/asset.go
  types/coin.go
  types/coin_type.go
  types/coin_type_test.go
  types/queryable.go
Labels: API, CLI, asset, client, refactoring

#2106 R4R: Refactor HTLC module
  app/app.go
  app/sim_test.go
  app/utils.go
  cli_test/cli_test.go
  cli_test/htlc_test.go
  cli_test/test_helpers.go
  cmd/iris/testnet.go
  config/config.go
  lcd_test/helpers.go
  lcd_test/lcd_test.go
  modules/htlc/abci.go
  modules/htlc/alias.go
  modules/htlc/client/cli/flags.go
  modules/htlc/client/cli/query.go
  modules/htlc/client/cli/tx.go
  modules/htlc/client/rest/query.go
  modules/htlc/client/rest/rest.go
  modules/htlc/client/rest/tx.go
  modules/htlc/exported/exported.go
  modules/htlc/genesis.go
  modules/htlc/genesis_test.go
  modules/htlc/handler.go
  modules/htlc/internal/keeper/keeper.go
  modules/htlc/internal/keeper/keeper_keys.go
  modules/htlc/internal/keeper/keeper_test.go
  modules/htlc/internal/keeper/querier.go
  modules/htlc/internal/keeper/test_common.go
  modules/htlc/internal/types/cdc.go
  modules/htlc/internal/types/errors.go
  modules/htlc/internal/types/events.go
  modules/htlc/internal/types/expected_keepers.go
  modules/htlc/internal/types/genesis.go
  modules/htlc/internal/types/htlc.go
  modules/htlc/internal/types/keys.go
  modules/htlc/internal/types/msgs.go
  modules/htlc/internal/types/msgs_test.go
  modules/htlc/internal/types/params.go
  modules/htlc/internal/types/querier.go
  modules/htlc/internal/types/tags.go
  modules/htlc/internal/types/utils.go
  modules/htlc/module.go
  modules/htlc/simulation/decoder.go
  modules/htlc/simulation/genesis.go
  modules/htlc/simulation/params.go
  simapp/app.go
Labels: API, CLI, HTLC, client, refactoring

#2123 R4R: Refactor coinswap module
  app/app.go
  config/config.go
  modules/coinswap/alias.go
  modules/coinswap/client/rest/query.go
  modules/coinswap/client/rest/rest.go
  modules/coinswap/client/rest/tx.go
  modules/coinswap/genesis.go
  modules/coinswap/handler.go
  modules/coinswap/internal/keeper/keeper.go
  modules/coinswap/internal/keeper/keeper_test.go
  modules/coinswap/internal/keeper/querier.go
  modules/coinswap/internal/keeper/querier_test.go
  modules/coinswap/internal/keeper/swap.go
  modules/coinswap/internal/keeper/swap_test.go
  modules/coinswap/internal/keeper/test_common.go
  modules/coinswap/internal/types/codec.go
  modules/coinswap/internal/types/errors.go
  modules/coinswap/internal/types/events.go
  modules/coinswap/internal/types/expected_keepers.go
  modules/coinswap/internal/types/msgs.go
  modules/coinswap/internal/types/msgs_test.go
  modules/coinswap/internal/types/params.go
  modules/coinswap/internal/types/params_test.go
  modules/coinswap/internal/types/querier.go
  modules/coinswap/internal/types/tags.go
  modules/coinswap/internal/types/test_common.go
  modules/coinswap/internal/types/utils.go
  modules/coinswap/module.go
  modules/coinswap/simulation/decoder.go
  modules/coinswap/simulation/genesis.go
  modules/coinswap/simulation/params.go
  simapp/app.go
Labels: API, CLI, client, coin-swap, refactoring

#2129 R4R: Delete the refunded HTLC
  cli_test/htlc_test.go
  modules/htlc/alias.go
  modules/htlc/genesis_test.go
  modules/htlc/internal/keeper/keeper.go
  modules/htlc/internal/keeper/keeper_test.go
  modules/htlc/internal/types/htlc.go
Labels: HTLC, enhancement

#2115 R4R: Refactor rand module
  app/app.go
  app/params.go
  app/sim_test.go
  go.mod
  modules/htlc/internal/types/genesis.go
  modules/rand/abci.go
  modules/rand/alias.go
  modules/rand/client/cli/cli.go
  modules/rand/client/cli/query.go
  modules/rand/client/cli/tx.go
  modules/rand/client/rest/query.go
  modules/rand/client/rest/rest.go
  modules/rand/client/rest/tx.go
  modules/rand/client/types/types.go
  modules/rand/exported/exported.go
  modules/rand/genesis.go
  modules/rand/genesis_test.go
  modules/rand/handler.go
  modules/rand/internal/keeper/keeper.go
  modules/rand/internal/keeper/keeper_test.go
  modules/rand/internal/keeper/querier.go
  modules/rand/internal/types/cdc.go
  modules/rand/internal/types/errors.go
  modules/rand/internal/types/events.go
  modules/rand/internal/types/expected_keepers.go
  modules/rand/internal/types/genesis.go
  modules/rand/internal/types/keys.go
  modules/rand/internal/types/msgs.go
  modules/rand/internal/types/msgs_test.go
  modules/rand/internal/types/params.go
  modules/rand/internal/types/rand.go
  modules/rand/internal/types/request.go
  modules/rand/internal/types/rng.go
  modules/rand/internal/types/tags.go
  modules/rand/module.go
  modules/rand/simulation/decoder.go
  modules/rand/simulation/decoder_test.go
  modules/rand/simulation/genesis.go
  modules/rand/simulation/operations.go
  modules/rand/simulation/params.go
  modules/rand/test_common.go
  modules/service/keeper.go
  modules/service/tags/tags.go
  simapp/app.go
Labels: random, refactoring

#2117 R4R: Refactor service module
  Makefile
  app/app.go
  app/app_test.go
  cli_test/service_test.go
  go.mod
  go.sum
  modules/guardian/exported/exported.go
  modules/service/abci.go
  modules/service/alias.go
  modules/service/client/cli/cli.go
  modules/service/client/cli/flags.go
  modules/service/client/cli/query.go
  modules/service/client/cli/tx.go
  modules/service/client/rest/query.go
  modules/service/client/rest/rest.go
  modules/service/client/rest/tx.go
  modules/service/genesis.go
  modules/service/handler.go
  modules/service/internal/keeper/binding.go
  modules/service/internal/keeper/definition.go
  modules/service/internal/keeper/invocation.go
  modules/service/internal/keeper/keeper.go
  modules/service/internal/keeper/keeper_test.go
  modules/service/internal/keeper/metrics.go
  modules/service/internal/keeper/params.go
  modules/service/internal/keeper/querier.go
  modules/service/internal/types/binding.go
  modules/service/internal/types/cdc.go
  modules/service/internal/types/definition.go
  modules/service/internal/types/errors.go
  modules/service/internal/types/events.go
  modules/service/internal/types/expected_keepers.go
  modules/service/internal/types/genesis.go
  modules/service/internal/types/invocation.go
  modules/service/internal/types/keys.go
  modules/service/internal/types/metrics.go
  modules/service/internal/types/msgs.go
  modules/service/internal/types/params.go
  modules/service/internal/types/parser.go
  modules/service/internal/types/querier.go
  modules/service/keeper.go
  modules/service/keeper_test.go
  modules/service/modules.go
  modules/service/params.go
  modules/service/querier.go
  modules/service/simulation/decoder.go
  modules/service/simulation/genesis.go
  modules/service/simulation/params.go
  modules/service/test_common.go
  simapp/app.go
  utils/protoidl/parse.go
  utils/protoidl/parse_test.go
  utils/protoidl/types.go
Labels: refactoring, service

#2136 R4R: Update webpack dependency
  docs/package-lock.json
Labels: build, documentation

#2135 R4R: Update webpack dependency
  docs/package-lock.json
Labels: build, documentation

#2137 R4R: Migrate swagger-ui
  .gitignore
  Makefile
  cmd/iriscli/main.go
  lite/statik/statik.go
  lite/swagger-ui/favicon-16x16.png
  lite/swagger-ui/favicon-32x32.png
  lite/swagger-ui/index.html
  lite/swagger-ui/swagger-ui-bundle.js
  lite/swagger-ui/swagger-ui-standalone-preset.js
  lite/swagger-ui/swagger-ui.css
  lite/swagger-ui/swagger.yaml
Labels: API, build

#2113 amend htlc moudle link
  docs/zh/cli-client/htlc.md
Labels: HTLC, documentation

#2112 add htlc module link
  docs/cli-client/htlc.md
Labels: HTLC, documentation

#2131 R4R: Improve unit test
  cli_test/cli_test.go
  cli_test/test_helpers.go
  cmd/iriscli/main.go
  lcd_test/helpers_test.go
  lcd_test/lcd_test.go
  modules/coinswap/genesis_test.go
  modules/coinswap/internal/keeper/keeper_test.go
  modules/coinswap/internal/keeper/querier_test.go
  modules/coinswap/internal/keeper/swap_test.go
  modules/coinswap/internal/types/errors.go
  modules/coinswap/internal/types/msgs_test.go
  modules/coinswap/internal/types/params_test.go
  modules/guardian/genesis.go
  modules/guardian/genesis_test.go
  modules/guardian/internal/keeper/keeper_test.go
  modules/guardian/internal/keeper/querier.go
  modules/guardian/internal/keeper/querier_test.go
  modules/guardian/internal/types/errors.go
  modules/guardian/internal/types/msgs.go
  modules/guardian/internal/types/msgs_test.go
  modules/guardian/internal/types/types.go
  modules/htlc/abci_test.go
  modules/htlc/genesis_test.go
  modules/htlc/internal/keeper/keeper_test.go
  modules/htlc/internal/keeper/querier_test.go
  modules/htlc/internal/types/errors.go
  modules/htlc/internal/types/msgs_test.go
  modules/htlc/internal/types/querier.go
  modules/mint/genesis_test.go
  modules/mint/internal/keeper/keeper_test.go
  modules/mint/internal/keeper/querier_test.go
  modules/mint/internal/types/errors.go
  modules/mint/internal/types/minter.go
  modules/mint/internal/types/minter_test.go
  modules/rand/genesis_test.go
  modules/rand/internal/keeper/keeper_test.go
  modules/rand/internal/keeper/querier_test.go
  modules/rand/internal/types/errors.go
  modules/rand/internal/types/msgs_test.go
  modules/rand/internal/types/querier.go
  modules/rand/simulation/decoder_test.go
  simapp/test_helpers.go
Labels: enhancement, test
