Repository irisnet/irishub, pull requests merged in 2019-04, with the labels that each got.

#1387 R4R: Add memo to LCD TxContext
  client/utils/rest.go
  client/utils/txcontext.go
Labels: bug, client

#1381 R4R: Fix the Software section of docs
  docs/.vuepress/config.js
  docs/light-client/README.md
  docs/software/How-to-install-Irishub.md
  docs/software/cli-client.md
  docs/software/export.md
  docs/software/ledger.md
  docs/software/light-client.md
  docs/software/monitor.md
  docs/software/node.md
  docs/software/sentry.md
  docs/software/tool.md
  docs/zh/light-client/README.md
  docs/zh/software/How-to-install-irishub.md
  docs/zh/software/cli-client.md
  docs/zh/software/export.md
  docs/zh/software/ledger.md
  docs/zh/software/light-client.md
  docs/zh/software/monitor.md
  docs/zh/software/node.md
  docs/zh/software/sentry.md
  docs/zh/software/tool.md
Labels: documentation

#1382 R4R: Refactor stake cli using Querier
  app/protocol/constants.go
  app/protocol/store_keys.go
  client/stake/cli/query.go
  client/stake/cli/sendtx.go
  client/stake/cli/utils.go
  cmd/iriscli/main.go
  modules/stake/stake.go
Labels: client, refactoring, stake

#1388 R4R: Improve result tags for unbond and redelegate
  modules/stake/handler.go
  modules/stake/handler_test.go
  modules/stake/keeper/delegation.go
Labels: enhancement, stake

#1384 R4R: Refactor distribution query using Querier
  app/v0/protocol_v0.go
  client/distribution/cli/query.go
  client/distribution/lcd/query.go
  client/distribution/lcd/rest.go
  client/distribution/utils.go
  cmd/iriscli/main.go
  modules/distribution/alias.go
  modules/distribution/keeper/delegation.go
  modules/distribution/keeper/querier.go
  modules/distribution/tests/querier_test.go
  modules/distribution/tests/test_common.go
Labels: client, distr, refactoring

#1389 R4R: Refactor bank query using Querier
  app/v0/protocol_v0.go
  client/bank/cli/query.go
  client/bank/lcd/query.go
  client/bank/lcd/rest.go
  client/bank/utils.go
  client/context/context.go
  client/context/query.go
  cmd/iriscli/main.go
  modules/auth/querier.go
  modules/auth/querier_test.go
Labels: bank, client, refactoring

#1393 R4R: Refactor service query using Querier
  app/v0/protocol_v0.go
  client/service/cli/query.go
  client/service/lcd/query.go
  cmd/iriscli/main.go
  modules/service/error.go
  modules/service/keeper.go
  modules/service/querier.go
Labels: client, refactoring, service

#1391 R4R: Refactor guardian query using Querier
  app/options.go
  app/protocol/constants.go
  app/protocol/engine.go
  app/protocol/patches.go
  app/protocol/types.go
  app/v0/protocol_v0.go
  client/guardian/cli/query.go
  cmd/iriscli/main.go
  modules/guardian/querier.go
  types/queryable.go
Labels: client, guardian, refactoring

#1396 R4R: Revert "Improve result tags for unbond and redelegate"
  modules/stake/keeper/delegation.go
Labels: bug, stake

#1397 R4R: Add params querier and clean code
  app/v0/protocol_v0.go
  client/gov/cli/query.go
  client/gov/lcd/flags.go
  client/gov/lcd/query.go
  client/gov/lcd/rest.go
  cmd/iriscli/main.go
  lite/swagger-ui/swagger.yaml
  modules/auth/querier.go
  modules/distribution/keeper/querier.go
  modules/gov/queryable.go
  modules/guardian/querier.go
  modules/params/querier.go
  modules/service/querier.go
  modules/stake/querier/queryable.go
  types/queryable.go
Labels: client, param, refactoring

#1392 R4R: Fix the Features section of docs
  docs/.vuepress/config.js
  docs/features/bank.md
  docs/features/basic-concepts/bech32-prefix.md
  docs/features/basic-concepts/coin-type.md
  docs/features/basic-concepts/fee.md
  docs/features/basic-concepts/genesis-file.md
  docs/features/basic-concepts/gov-params.md
  docs/features/distribution.md
  docs/features/governance.md
  docs/features/guardian.md
  docs/features/mint.md
  docs/features/service.md
  docs/features/slashing.md
  docs/features/stake.md
  docs/features/upgrade.md
  docs/get-started/Full-Node.md
  docs/get-started/Join-the-Mainnet.md
  docs/get-started/Join-the-Testnet.md
  docs/get-started/README.md
  docs/software/How-to-install-irishub.md
  docs/software/export.md
  docs/software/kms/kms.md
  docs/software/node.md
  docs/software/tool.md
  docs/zh/features/bank.md
  docs/zh/features/basic-concepts/bech32-prefix.md
  docs/zh/features/basic-concepts/coin-type.md
  docs/zh/features/basic-concepts/fee.md
  docs/zh/features/basic-concepts/genesis-file.md
  docs/zh/features/basic-concepts/gov-params.md
  docs/zh/features/basic-concepts/key.md
  docs/zh/features/distribution.md
  docs/zh/features/governance.md
  docs/zh/features/guardian.md
  docs/zh/features/mint.md
  docs/zh/features/service.md
  docs/zh/features/slashing.md
  docs/zh/features/stake.md
  docs/zh/features/upgrade.md
  docs/zh/get-started/Join-the-Mainnet.md
  docs/zh/get-started/Join-the-Testnet.md
  docs/zh/get-started/README.md
  docs/zh/get-started/Validator-Node.md
  docs/zh/software/export.md
  docs/zh/software/kms/kms.md
  docs/zh/software/monitor.md
Labels: documentation

#1404 R4R: Unify the output format
  app/v0/protocol_v0.go
  client/bank/cli/query.go
  client/bank/lcd/query.go
  client/bank/utils.go
  client/context/context.go
  client/context/query.go
  client/distribution/cli/query.go
  client/gov/cli/query.go
  client/guardian/cli/query.go
  client/slashing/cli/query.go
  client/stake/cli/query.go
  client/stake/cli/utils.go
  client/stake/utils.go
  client/upgrade/cli/query.go
  client/upgrade/utils.go
  modules/auth/account.go
  modules/auth/codec.go
  modules/auth/params.go
  modules/distribution/alias.go
  modules/distribution/keeper/querier.go
  modules/distribution/types/codec.go
  modules/distribution/types/params.go
  modules/gov/depositsvotes.go
  modules/gov/params.go
  modules/gov/proposals.go
  modules/guardian/types.go
  modules/mint/params.go
  modules/mint/wire.go
  modules/params/codec.go
  modules/params/querier.go
  modules/params/subspace/pair.go
  modules/params/subspace/table_test.go
  modules/service/params.go
  modules/service/wire.go
  modules/slashing/codec.go
  modules/slashing/params.go
  modules/slashing/signing_info.go
  modules/stake/types/codec.go
  modules/stake/types/commission.go
  modules/stake/types/params.go
  tests/cli/bank_test.go
  tests/cli/distribution_test.go
  tests/cli/gov_test.go
  tests/cli/guardian_test.go
  tests/cli/service_test.go
  tests/cli/stake_test.go
  tests/cli/utils.go
  types/coin.go
  types/coin_type.go
  types/config.go
  types/protocol.go
Labels: client, refactoring
