Repository irisnet/irishub, pull requests merged in 2019-08, with the labels that each got.

#1848 R4R: Fix protocol version switch bug
  app/app.go
  app/protocol/queryrouter.go
  go.mod
  go.sum
  store/rootmultistore.go
Labels: bug, upgrade

#1849 R4R: Revert coin breaking change
  modules/auth/ante.go
  modules/auth/feeauth.go
  modules/auth/keeper.go
  modules/bank/keeper.go
  modules/bank/msgs.go
  modules/gov/msgs.go
  modules/service/msgs.go
  types/coin.go
  types/coin_test.go
Labels: bug, refactoring

#1856 R4R: Enforce unbonding_time for redelegation
  app/v1/stake/keeper/delegation.go
  app/v1/stake/keeper/delegation_test.go
Labels: enhancement, stake

#1855 Tighten validity checks for coins (protocol v1)
  app/baseapp.go
  app/options.go
  app/v1/auth/ante.go
  app/v1/auth/ante_test.go
  app/v1/auth/feeauth.go
  app/v1/auth/genesis.go
  app/v1/auth/keeper.go
  app/v1/bank/keeper_test.go
  app/v1/bank/msgs.go
  app/v1/bank/msgs_test.go
  app/v1/distribution/types/params.go
  app/v1/gov/msgs.go
  app/v1/service/keeper_test.go
  app/v1/service/msgs.go
  app/v1/stake/handler.go
  app/v1/stake/keeper/delegation_test.go
  app/v1/stake/types/msg.go
  types/coin.go
  types/coin_test.go
  types/coin_type.go
Labels: enhancement, refactoring

#1852 R4R: Release v0.15.0-rc3
  CHANGELOG.md
  docs/light-client/CHANGELOG.md
  docs/zh/light-client/CHANGELOG.md
  go.mod
  go.sum
  lite/swagger-ui/swagger.yaml
  modules/distribution/keeper/metrics.go
  modules/gov/metrics.go
  modules/service/metrics.go
  modules/slashing/metrics.go
  modules/stake/keeper/metrics.go
  modules/upgrade/metrics.go
  version/version.go
Labels: metric, release

#1862 R4R: Merge coinswap into develop
  app/app.go
  app/protocol/constants.go
  app/protocol/engine.go
  app/v0/genesis.go
  app/v1/auth/genesis.go
  app/v1/bank/msgs_test.go
  app/v1/genesis.go
  app/v1/rand/exported/exported.go
  app/v1/service/abci.go
  app/v1/stake/abci.go
  app/v2/coinswap/alias.go
  app/v2/coinswap/genesis.go
  app/v2/coinswap/handler.go
  app/v2/coinswap/internal/keeper/keeper.go
  app/v2/coinswap/internal/keeper/keeper_test.go
  app/v2/coinswap/internal/keeper/querier.go
  app/v2/coinswap/internal/keeper/querier_test.go
  app/v2/coinswap/internal/keeper/swap.go
  app/v2/coinswap/internal/keeper/swap_test.go
  app/v2/coinswap/internal/keeper/test_common.go
  app/v2/coinswap/internal/types/codec.go
  app/v2/coinswap/internal/types/errors.go
  app/v2/coinswap/internal/types/expected_keepers.go
  app/v2/coinswap/internal/types/keys.go
  app/v2/coinswap/internal/types/msgs.go
  app/v2/coinswap/internal/types/msgs_test.go
  app/v2/coinswap/internal/types/params.go
  app/v2/coinswap/internal/types/params_test.go
  app/v2/coinswap/internal/types/querier.go
  app/v2/coinswap/internal/types/test_common.go
  app/v2/export.go
  app/v2/genesis.go
  app/v2/invariants.go
  app/v2/metrics.go
  app/v2/protocol_v2.go
  client/coinswap/cli/flags.go
  client/coinswap/cli/sendTx.go
  cmd/iriscli/main.go
  mock/app.go
  modules/gov/test_common.go
  modules/service/keeper.go
  modules/service/test_common.go
  modules/slashing/app_test.go
  modules/stake/app_test.go
  server/init/collect.go
  server/init/genesis_accts.go
  server/init/testnet.go
  server/init/utils.go
  tests/cli/rpc_test.go
  tests/cli/service_test.go
  tests/cli/utils.go
  tests/sim/bank/msgs.go
  tests/sim/stake/msgs.go
  tools/debug/hack.go
  types/coin_benchmark_test.go
  types/coin_type_test.go
  version/version.go
Labels: coin-swap

#1865 R4R: Refactor function and variable names for swap liquidity
  app/v2/coinswap/internal/keeper/keeper.go
  app/v2/coinswap/internal/keeper/keeper_test.go
  app/v2/coinswap/internal/keeper/querier.go
  app/v2/coinswap/internal/keeper/swap.go
  app/v2/coinswap/internal/keeper/swap_test.go
  app/v2/coinswap/internal/types/errors.go
Labels: coin-swap

#1864 R4R: Add new function - Swap Coin
  app/v2/coinswap/handler.go
  app/v2/coinswap/internal/keeper/keeper.go
  app/v2/coinswap/internal/keeper/querier.go
  app/v2/coinswap/internal/keeper/swap.go
  app/v2/coinswap/internal/keeper/swap_test.go
  app/v2/coinswap/internal/keeper/test_common.go
  app/v2/coinswap/internal/types/errors.go
  app/v2/coinswap/internal/types/params.go
  app/v2/coinswap/internal/types/tags.go
  client/context/context.go
  types/coin.go
Labels: API, coin-swap, enhancement

#1869 R4R: Optimization coinswap module code
  app/v2/coinswap/handler.go
  app/v2/coinswap/internal/keeper/keeper.go
  app/v2/coinswap/internal/keeper/keeper_test.go
  app/v2/coinswap/internal/keeper/querier.go
  app/v2/coinswap/internal/keeper/querier_test.go
  app/v2/coinswap/internal/keeper/swap.go
  app/v2/coinswap/internal/keeper/swap_test.go
  app/v2/coinswap/internal/types/expected_keepers.go
  app/v2/coinswap/internal/types/msgs.go
  app/v2/coinswap/internal/types/msgs_test.go
  app/v2/coinswap/internal/types/querier.go
  app/v2/coinswap/internal/types/test_common.go
  client/coinswap/cli/flags.go
  client/coinswap/cli/sendTx.go
  cmd/iriscli/main.go
  types/coin.go
  types/int.go
Labels: coin-swap, refactoring

#1871 R4R: Decrease gas consumption by logarithm
  app/v1/auth/ante.go
  types/gas.go
  types/gas_test.go
Labels: enhancement, type

#1866 R4R: Add coinswap api
  app/v2/coinswap/alias.go
  app/v2/coinswap/internal/keeper/keeper.go
  app/v2/coinswap/internal/keeper/keeper_test.go
  app/v2/coinswap/internal/keeper/querier.go
  app/v2/coinswap/internal/keeper/querier_test.go
  app/v2/coinswap/internal/keeper/swap.go
  app/v2/coinswap/internal/keeper/swap_test.go
  app/v2/coinswap/internal/types/errors.go
  app/v2/coinswap/internal/types/msgs.go
  app/v2/coinswap/internal/types/msgs_test.go
  app/v2/coinswap/internal/types/params.go
  app/v2/coinswap/internal/types/querier.go
  app/v2/coinswap/internal/types/test_common.go
  app/v2/coinswap/internal/types/utils.go
  app/v2/protocol_v2.go
  client/coinswap/lcd/query.go
  client/coinswap/lcd/rest.go
  client/coinswap/lcd/sendtx.go
  client/coinswap/lcd/utils.go
  lite/lcd.go
  lite/swagger-ui/swagger.yaml
  types/coin.go
  types/coin_test.go
  types/coin_type.go
  types/coin_type_test.go
Labels: client, coin-swap, enhancement

#1874 R4R: Check validity of a token id when querying token stats
  app/v1/bank/querier.go
Labels: bank, bug

#1875 R4R: Change 'deadline' type from time.Time to int64
  app/v2/coinswap/handler.go
  app/v2/coinswap/internal/keeper/swap_test.go
  app/v2/coinswap/internal/types/msgs.go
  app/v2/coinswap/internal/types/test_common.go
  client/coinswap/lcd/sendtx.go
Labels: coin-swap, enhancement

#1876 R4R: Cherry pick token id validation
  app/v1/bank/querier.go
  types/coin.go
  types/coin_test.go
Labels: bank, bug

#1878 R4R: Fix precision in "stake pool"
  client/stake/utils.go
Labels: stake

#1877 R4R: Fix precision in "stake pool"
  client/stake/utils.go
Labels: stake

#1882 R4R: Fix Bug(update calculation formula)
  app/v2/coinswap/internal/keeper/keeper.go
Labels: bug, coin-swap

#1881 R4R: Add memo check by regexp
  app/v1/auth/account.go
  app/v1/auth/feeauth.go
  app/v1/bank/ante.go
  app/v1/bank/codec.go
  app/v1/bank/errors.go
  app/v1/bank/handler.go
  app/v1/bank/keeper.go
  app/v1/bank/msgs.go
  app/v1/protocol_v1.go
  client/bank/cli/query.go
  client/bank/cli/sendtx.go
  client/bank/lcd/rest.go
  client/bank/lcd/sendtx.go
  client/bank/utils.go
  cmd/iriscli/main.go
  docs/cli-client/bank/README.md
  docs/cli-client/bank/account.md
  docs/cli-client/bank/burn.md
  docs/cli-client/bank/coin-type.md
  docs/cli-client/bank/set-memo-regexp.md
  docs/cli-client/bank/token-stats.md
Labels: bank, enhancement

#1883 R4R: Update docs and swagger
  docs/cli-client/bank/README.md
  docs/cli-client/bank/account.md
  docs/cli-client/bank/coin-type.md
  docs/cli-client/bank/set-memo-regexp.md
  docs/cli-client/bank/token-stats.md
  docs/zh/cli-client/bank/README.md
  docs/zh/cli-client/bank/account.md
  docs/zh/cli-client/bank/burn.md
  docs/zh/cli-client/bank/coin-type.md
  docs/zh/cli-client/bank/send.md
  docs/zh/cli-client/bank/set-memo-regexp.md
  docs/zh/cli-client/bank/token-stats.md
  lite/swagger-ui/swagger.yaml
Labels: bank, documentation

#1884 R4R: Adjust gas consumption
  app/v1/auth/ante.go
  types/gas.go
  types/gas_test.go
Labels: enhancement, type

#1886 R4R: Decrease gas consumption by logarithm
  app/v1/auth/ante.go
  types/gas.go
  types/gas_test.go
Labels: enhancement, type

#1887 R4R: Release v0.15.0-rc4
  CHANGELOG.md
  docs/light-client/CHANGELOG.md
  lite/swagger-ui/swagger.yaml
  version/version.go
Labels: release

#1888 R4R: Add memo check by regexp
  app/v1/auth/account.go
  app/v1/auth/feeauth.go
  app/v1/bank/ante.go
  app/v1/bank/codec.go
  app/v1/bank/errors.go
  app/v1/bank/handler.go
  app/v1/bank/keeper.go
  app/v1/bank/msgs.go
  app/v1/protocol_v1.go
  app/v2/protocol_v2.go
  client/bank/cli/query.go
  client/bank/cli/sendtx.go
  client/bank/lcd/rest.go
  client/bank/lcd/sendtx.go
  client/bank/utils.go
  cmd/iriscli/main.go
  docs/cli-client/bank/README.md
  docs/cli-client/bank/account.md
  docs/cli-client/bank/burn.md
  docs/cli-client/bank/coin-type.md
  docs/cli-client/bank/set-memo-regexp.md
  docs/cli-client/bank/token-stats.md
  docs/zh/cli-client/bank/README.md
  docs/zh/cli-client/bank/account.md
  docs/zh/cli-client/bank/burn.md
  docs/zh/cli-client/bank/coin-type.md
  docs/zh/cli-client/bank/send.md
  docs/zh/cli-client/bank/set-memo-regexp.md
  docs/zh/cli-client/bank/token-stats.md
  lite/swagger-ui/swagger.yaml
Labels: bank, enhancement

#1889 R4R: Update Ledger dependency
  crypto/ledger.go
  go.mod
  go.sum
Labels: build, crypto

#1890 R4R: Shilei/update changelog 0.15
  docs/light-client/CHANGELOG.md
  docs/zh/light-client/CHANGELOG.md
Labels: documentation

#1891 R4R: Release v0.15.0
  CHANGELOG.md
  docs/light-client/CHANGELOG.md
  docs/zh/light-client/CHANGELOG.md
  lite/swagger-ui/swagger.yaml
  version/version.go
Labels: release

#1893 R4R: Fix docs
  docs/.vuepress/config.js
  docs/zh/cli-client/rand/query-rand.md
  docs/zh/features/random.md
Labels: documentation, random

#1894 R4R: Merge with master
  CHANGELOG.md
  app/v1/bank/msgs.go
  docs/.vuepress/config.js
  docs/light-client/CHANGELOG.md
  docs/zh/cli-client/rand/query-rand.md
  docs/zh/features/random.md
  docs/zh/light-client/CHANGELOG.md
  lite/swagger-ui/swagger.yaml
  types/coin.go
  version/version.go
Labels: build, documentation

#1896 R4R: Update version to v0.15.1
  lite/swagger-ui/swagger.yaml
  version/version.go
Labels: release

#1898 R4R: Do not check if ValPool is zero
  app/v1/distribution/genesis.go
  app/v1/export.go
Labels: bug, distr

#1899 R4R: Fix feePool initialization from genesis
  app/v1/distribution/keeper/keeper.go
Labels: bug, distr

#1900 R4R: Add v0.15.1 changelog
  CHANGELOG.md
Labels: documentation, release

#1901 Release version v0.15.1
  CHANGELOG.md
  app/v1/distribution/genesis.go
  app/v1/distribution/keeper/keeper.go
  app/v1/export.go
  lite/swagger-ui/swagger.yaml
  server/util.go
  version/version.go
Labels: release

#1902 R4R: Cherry pick v0.15.1
  CHANGELOG.md
  app/v1/distribution/genesis.go
  app/v1/distribution/keeper/keeper.go
  app/v1/export.go
  server/util.go
Labels: build, distr

#1904 R4R: Add tags for coin-swap module
  app/v2/coinswap/handler.go
  app/v2/coinswap/internal/keeper/keeper.go
  app/v2/coinswap/internal/keeper/swap_test.go
  app/v2/coinswap/internal/types/keys.go
  app/v2/coinswap/internal/types/msgs.go
  app/v2/coinswap/internal/types/tags.go
Labels: coin-swap, enhancement

#1905 R4R: Add root README for random docs
  docs/cli-client/rand/README.md
  docs/software/How-to-install-irishub.md
  docs/zh/cli-client/rand/README.md
  docs/zh/software/How-to-install-irishub.md
Labels: documentation

#1906 R4R: Update docs
  docs/cli-client/rand/README.md
  docs/software/How-to-install-irishub.md
  docs/zh/cli-client/rand/README.md
  docs/zh/software/How-to-install-irishub.md
Labels: documentation

#1911 R4R: Add coinflow for coin-swap
  app/v2/coinswap/internal/keeper/keeper.go
  app/v2/coinswap/internal/keeper/swap.go
  types/contexttags.go
Labels: coin-swap, enhancement

#1928 R4R: Fix coinswap bug[Formula parameter confusion error]
  app/v2/coinswap/internal/keeper/swap.go
  app/v2/coinswap/internal/keeper/swap_test.go
Labels: bug, coin-swap

#1930 R4R: Fix upgrade query-signals example
  client/upgrade/cli/query.go
Labels: upgrade

#1933 R4R: Update docs
  docs/.vuepress/config.js
  docs/features/asset.md
  docs/get-started/Download-Rainbow.md
  docs/get-started/Explorers.md
  docs/get-started/Join-the-Mainnet.md
  docs/get-started/Wallets.md
  docs/software/How-to-install-irishub.md
  docs/zh/get-started/Download-Rainbow.md
  docs/zh/get-started/Explorers.md
  docs/zh/get-started/Join-the-Mainnet.md
  docs/zh/get-started/Validator-Node.md
  docs/zh/get-started/Wallets.md
  docs/zh/software/How-to-install-irishub.md
Labels: documentation

#1934 R4R: Cherrypick docs
  docs/.vuepress/config.js
  docs/features/asset.md
  docs/get-started/Download-Rainbow.md
  docs/get-started/Explorers.md
  docs/get-started/Join-the-Mainnet.md
  docs/get-started/Wallets.md
  docs/software/How-to-install-irishub.md
  docs/zh/get-started/Download-Rainbow.md
  docs/zh/get-started/Explorers.md
  docs/zh/get-started/Join-the-Mainnet.md
  docs/zh/get-started/Validator-Node.md
  docs/zh/get-started/Wallets.md
  docs/zh/software/How-to-install-irishub.md
Labels: documentation

#1935 R4R: Fix message error & add uint test case
  app/v2/coinswap/internal/keeper/swap.go
  app/v2/coinswap/internal/keeper/swap_test.go
Labels: bug, coin-swap

#1925 R4R: Fix Coinswap Bugs
  app/v2/coinswap/alias.go
  app/v2/coinswap/internal/keeper/keeper.go
  app/v2/coinswap/internal/types/utils.go
  client/coinswap/lcd/sendtx.go
  client/context/context.go
Labels: bug, coin-swap

#1937 R4R: Update denom's specification
  app/v2/coinswap/alias.go
  app/v2/coinswap/internal/keeper/swap_test.go
  app/v2/coinswap/internal/types/msgs.go
  app/v2/coinswap/internal/types/test_common.go
  app/v2/coinswap/internal/types/utils.go
  client/context/context.go
  types/coin.go
  types/coin_test.go
  types/coin_type_test.go
Labels: coin-swap, enhancement
