Repository irisnet/irishub, pull requests merged in 2019-09, with the labels that each got.

#1940 R4R: Fix Bug(don't update gov param when network not equal mainnet)
  app/v1/gov/keeper.go
Labels: bug, governance, upgrade

#1939 R4R: Delete the protocol v1 upgrade initialization code from protocol v2
  app/v2/coinswap/internal/types/params.go
  app/v2/protocol_v2.go
Labels: bug, upgrade

#1945 R4R: fix protocol loading on replay-last-block
  app/app.go
Labels: bug

#1947 R4R: Add HTLC module and implement HTLC creation
  app/v1/auth/keeper.go
  app/v2/htlc/abci.go
  app/v2/htlc/alias.go
  app/v2/htlc/exported/exported.go
  app/v2/htlc/genesis.go
  app/v2/htlc/genesis_test.go
  app/v2/htlc/handler.go
  app/v2/htlc/internal/keeper/keeper.go
  app/v2/htlc/internal/keeper/keeper_keys.go
  app/v2/htlc/internal/keeper/keeper_test.go
  app/v2/htlc/internal/keeper/querier.go
  app/v2/htlc/internal/types/cdc.go
  app/v2/htlc/internal/types/errors.go
  app/v2/htlc/internal/types/expected_keepers.go
  app/v2/htlc/internal/types/genesis.go
  app/v2/htlc/internal/types/htlc.go
  app/v2/htlc/internal/types/msgs.go
  app/v2/htlc/internal/types/msgs_test.go
  app/v2/htlc/internal/types/params.go
  app/v2/htlc/internal/types/querier.go
  app/v2/htlc/internal/types/tags.go
  app/v2/htlc/test_common.go
Labels: HTLC, enhancement

#1951 R4R : Modify asset&gov docs
  docs/features/asset.md
  docs/features/basic-concepts/gov-params.md
  docs/zh/features/asset.md
  docs/zh/features/basic-concepts/gov-params.md
Labels: documentation

#1957 R4R : Modify gov docs
  docs/features/governance.md
  docs/zh/features/governance.md
Labels: documentation

#1961 R4R: Do not init total supply for swap coins
  app/v1/auth/keeper.go
  app/v2/coinswap/internal/types/msgs.go
  types/asset.go
Labels: bank, bug, coin-swap

#1956 R4R: Implement HTLC claim and refund
  app/v2/htlc/abci.go
  app/v2/htlc/alias.go
  app/v2/htlc/handler.go
  app/v2/htlc/internal/keeper/keeper.go
  app/v2/htlc/internal/keeper/keeper_keys.go
  app/v2/htlc/internal/keeper/keeper_test.go
  app/v2/htlc/internal/types/errors.go
  app/v2/htlc/internal/types/htlc.go
  app/v2/htlc/internal/types/msgs.go
  app/v2/htlc/internal/types/msgs_test.go
  app/v2/htlc/internal/types/tags.go
  types/contexttags.go
Labels: HTLC, enhancement

#1958 R4R: Do not check if ValPool is zero in v2
  app/v2/export.go
Labels: bug, distr

#1962 R4R: Fix coinswap bug(should export stored value)
  app/protocol/engine.go
  app/v2/coinswap/genesis.go
Labels: bug, coin-swap

#1967 R4R: Fix gas calculation
  docs/features/basic-concepts/fee.md
  docs/zh/features/basic-concepts/fee.md
Labels: documentation

#1954 R4R: Add client for htlc
  app/protocol/constants.go
  app/protocol/engine.go
  app/v2/htlc/internal/types/cdc.go
  app/v2/protocol_v2.go
  client/htlc/cli/flags.go
  client/htlc/cli/query.go
  client/htlc/cli/sendtx.go
  client/htlc/lcd/query.go
  client/htlc/lcd/rest.go
  client/htlc/lcd/senttx.go
  cmd/iriscli/main.go
  lite/lcd.go
  lite/swagger-ui/swagger.yaml
Labels: HTLC, client

#1970 R4R: Add unit test for HTLC
  app/v2/htlc/handler.go
  app/v2/htlc/internal/keeper/keeper_test.go
  app/v2/htlc/internal/keeper/test_common.go
  app/v2/htlc/internal/types/msgs_test.go
Labels: HTLC, test

#1966 R4R: Fix gov lcd bug
  client/gov/lcd/sendtx.go
  client/gov/utils.go
  lite/swagger-ui/swagger.yaml
Labels: API, bug, governance

#1975 R4R: Release v0.15.2
  CHANGELOG.md
  lite/swagger-ui/swagger.yaml
  version/version.go
Labels: release

#1977 R4R: Merge with master and update latest version to v0.15.2
  docs/.vuepress/config.js
  docs/cli-client/rand/README.md
  docs/features/asset.md
  docs/features/basic-concepts/gov-params.md
  docs/features/governance.md
  docs/get-started/Download-Rainbow.md
  docs/get-started/Explorers.md
  docs/get-started/Join-the-Mainnet.md
  docs/get-started/Wallets.md
  docs/software/How-to-install-irishub.md
  docs/zh/cli-client/rand/README.md
  docs/zh/features/asset.md
  docs/zh/features/basic-concepts/gov-params.md
  docs/zh/features/governance.md
  docs/zh/get-started/Download-Rainbow.md
  docs/zh/get-started/Explorers.md
  docs/zh/get-started/Join-the-Mainnet.md
  docs/zh/get-started/Validator-Node.md
  docs/zh/get-started/Wallets.md
  docs/zh/software/How-to-install-irishub.md
Labels: documentation, release

#1976 R4R: Release version v0.15.2
  CHANGELOG.md
  app/app.go
  app/v1/gov/keeper.go
  docs/software/How-to-install-irishub.md
  docs/zh/software/How-to-install-irishub.md
  lite/swagger-ui/swagger.yaml
  version/version.go
Labels: release

#1972 R4R: Fix parseCoin error
  client/context/context.go
  types/coin_type.go
Labels: bug, client

#1974 R4R: Modify HTLC module
  .gitignore
  app/v1/asset/internal/types/params.go
  app/v2/htlc/abci.go
  app/v2/htlc/alias.go
  app/v2/htlc/handler.go
  app/v2/htlc/internal/keeper/keeper.go
  app/v2/htlc/internal/keeper/keeper_keys.go
  app/v2/htlc/internal/keeper/keeper_test.go
  app/v2/htlc/internal/keeper/querier.go
  app/v2/htlc/internal/types/errors.go
  app/v2/htlc/internal/types/htlc.go
  app/v2/htlc/internal/types/msgs.go
  app/v2/htlc/internal/types/msgs_test.go
  app/v2/htlc/internal/types/querier.go
  app/v2/htlc/internal/types/tags.go
  app/v2/protocol_v2.go
  client/htlc/cli/flags.go
  client/htlc/cli/query.go
  client/htlc/cli/sendtx.go
  client/htlc/lcd/query.go
  client/htlc/lcd/senttx.go
Labels: CLI, HTLC, client, enhancement

#1973 R4R: Refactor valid txs counter
  app/baseapp.go
  app/v1/slashing/tick.go
  modules/slashing/tick.go
  types/context.go
  types/context_counter.go
Labels: bug

#1981 R4R: Fix cli prompt
  client/asset/cli/sendtx.go
  client/distribution/cli/sendtx.go
  client/gov/cli/query.go
  client/gov/cli/sendtx.go
  client/htlc/cli/sendtx.go
  client/params/cli/query.go
  client/rand/cli/query.go
  client/rand/cli/sendtx.go
  client/slashing/cli/sendtx.go
  client/stake/cli/sendtx.go
  client/upgrade/cli/query.go
  cmd/iris/main.go
  cmd/irislcd/main.go
Labels: CLI

#1983 R4R: Update HTLC docs
  app/v2/htlc/internal/keeper/keeper.go
  app/v2/htlc/internal/keeper/keeper_keys.go
  app/v2/htlc/internal/keeper/querier.go
  app/v2/htlc/internal/types/htlc.go
  app/v2/htlc/internal/types/msgs.go
  app/v2/htlc/internal/types/params.go
  client/htlc/cli/flags.go
  client/htlc/cli/query.go
  client/htlc/cli/sendtx.go
  client/htlc/lcd/query.go
  client/htlc/lcd/rest.go
  client/htlc/lcd/senttx.go
Labels: HTLC, documentation

#1979 R4R: Add docs and test for HTLC
  app/v2/htlc/internal/keeper/keeper_test.go
  client/htlc/cli/sendtx.go
  client/htlc/lcd/senttx.go
  docs/cli-client/htlc/README.md
  docs/cli-client/htlc/claim.md
  docs/cli-client/htlc/create.md
  docs/cli-client/htlc/query-htlc.md
  docs/cli-client/htlc/refund.md
  docs/zh/cli-client/htlc/README.md
  docs/zh/cli-client/htlc/claim.md
  docs/zh/cli-client/htlc/create.md
  docs/zh/cli-client/htlc/query-htlc.md
  docs/zh/cli-client/htlc/refund.md
  lite/swagger-ui/swagger.yaml
  tests/cli/htlc_test.go
  tests/cli/utils.go
Labels: CLI, HTLC, documentation

#1971 R4R: Refactor prometheus metrics
  app/v1/gov/abci.go
  app/v1/gov/keeper.go
  app/v1/gov/metrics.go
  app/v1/gov/proposal_parameter.go
  app/v1/slashing/signing_info.go
  app/v1/stake/keeper/keeper.go
  app/v1/stake/keeper/metrics.go
  app/v1/stake/keeper/slash.go
  app/v1/stake/keeper/val_state_change.go
  app/v1/stake/keeper/validator.go
  app/v1/upgrade/abci.go
  app/v1/upgrade/metrics.go
  tools/prometheus/registry.go
Labels: enhancement, metric

#1992 R4R: Update Betanet to Mainnet
  docs/get-started/Full-Node.md
  docs/resources/validator-faq.md
  docs/zh/get-started/Full-Node.md
  docs/zh/resources/validator-faq.md
Labels: documentation

#1990 R4R: Fix bug
  app/v1/gov/msgs.go
  lite/swagger-ui/swagger.yaml
  modules/gov/msgs.go
Labels: API, governance

#1994 R4R: Improve HTLC
  app/v2/htlc/internal/types/htlc.go
  client/htlc/cli/flags.go
  client/htlc/cli/query.go
  client/htlc/cli/sendtx.go
  client/htlc/lcd/query.go
  client/htlc/lcd/senttx.go
  cmd/iriscli/main.go
Labels: HTLC, client, enhancement

#1987 R4R: Add HTLC genesis
  app/v2/export.go
  app/v2/genesis.go
  app/v2/htlc/alias.go
  app/v2/htlc/genesis.go
  app/v2/htlc/genesis_test.go
  app/v2/htlc/internal/keeper/keeper.go
  app/v2/htlc/internal/keeper/test_common.go
  app/v2/htlc/internal/types/genesis.go
  app/v2/htlc/test_common.go
  app/v2/protocol_v2.go
Labels: HTLC, enhancement

#1999 R4R: Fix HTLC claim
  app/v2/htlc/internal/keeper/keeper.go
  app/v2/htlc/internal/keeper/keeper_test.go
Labels: HTLC, bug, test

#2002 R4R: Fix prometheus bug
  app/v1/gov/metrics.go
  app/v1/stake/keeper/metrics.go
  app/v1/upgrade/metrics.go
  tools/prometheus/registry.go
Labels: bug

#1993 R4R: Add coinswap doc
  docs/features/coinswap.md
  docs/light-client/README.md
  docs/zh/features/coinswap.md
  docs/zh/light-client/README.md
Labels: coin-swap, documentation

#2007 R4R: Enhance HTLC genesis test
  app/v2/htlc/alias.go
  app/v2/htlc/genesis_test.go
  app/v2/htlc/internal/types/genesis.go
  app/v2/htlc/internal/types/htlc.go
Labels: HTLC, enhancement, test

#2009 R4R: Fix param order
  client/htlc/lcd/senttx.go
  lite/swagger-ui/swagger.yaml
Labels: HTLC, bug, documentation

#2016 R4R: Fix proposal-id tag
  app/v1/gov/abci.go
  modules/gov/handler.go
Labels: bug

#1997 R4R: Add HTLC debug tool
  docs/software/tool.md
  docs/zh/software/tool.md
  tools/debug/hack.go
  tools/debug/main.go
Labels: HTLC, enhancement

#1996 R4R: Update HTLC docs
  docs/cli-client/htlc/create.md
  docs/light-client/README.md
  docs/zh/cli-client/htlc/README.md
  docs/zh/cli-client/htlc/claim.md
  docs/zh/cli-client/htlc/create.md
  docs/zh/cli-client/htlc/refund.md
  docs/zh/light-client/README.md
  lite/swagger-ui/swagger.yaml
Labels: HTLC, documentation

#2005 R4R: Fix HTLC json
  app/v2/htlc/genesis_test.go
  app/v2/htlc/handler.go
  app/v2/htlc/internal/keeper/keeper_test.go
  app/v2/htlc/internal/types/htlc.go
Labels: HTLC, bug, test

#2020 R4R: Implement the Stringer interface for a Description
  app/v1/stake/types/validator.go
Labels: CLI
