Repository irisnet/irishub, pull requests merged in 2019-07, with the labels that each got.

#1689 R4R: Add gateway genesis init and export
  app/v1/asset/gateway.go
  app/v1/asset/genesis.go
  app/v1/asset/genesis_test.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  app/v1/asset/querier.go
Labels: asset, enhancement

#1706 R4R: Add timestamp in tx query result for v0.14
  client/stake/lcd/query.go
  client/stake/lcd/utils.go
  client/tendermint/tx/querytx.go
  client/tendermint/tx/searchtx.go
  docs/cli-client/tendermint/tx.md
  docs/cli-client/tendermint/txs.md
  lite/swagger-ui/swagger.yaml
Labels: client, enhancement

#1695 R4R: Simplify the process of transfer owner
  app/v1/asset/keeper.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  client/asset/cli/sendtx.go
  client/asset/lcd/sendtx.go
  docs/cli-client/asset/transfer-token-owner.md
  docs/light-client/README.md
  docs/zh/cli-client/asset/transfer-token-owner.md
  lite/swagger-ui/swagger.yaml
Labels: asset, bug

#1705 R4R: Add new CLI function - Query Tokens
  app/v1/asset/asset.go
  app/v1/asset/querier.go
  client/asset/cli/flags.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  cmd/iriscli/main.go
  docs/cli-client/asset/issue-token.md
  docs/cli-client/asset/issue.md
  docs/cli-client/asset/query-token.md
  docs/cli-client/asset/query-tokens.md
  docs/zh/cli-client/asset/issue-token.md
  docs/zh/cli-client/asset/issue.md
  docs/zh/cli-client/asset/query-token.md
  docs/zh/cli-client/asset/query-tokens.md
Labels: CLI, asset

#1700 R4R: Add timestamp in tx query result
  client/stake/lcd/query.go
  client/stake/lcd/utils.go
  client/tendermint/tx/querytx.go
  client/tendermint/tx/searchtx.go
  docs/cli-client/tendermint/tx.md
  docs/cli-client/tendermint/txs.md
  lite/swagger-ui/swagger.yaml
Labels: client, enhancement

#1707 R4R: Modify gateway owner transfer
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  client/asset/cli/sendtx.go
  docs/cli-client/asset/transfer-gateway-owner.md
  docs/zh/cli-client/asset/transfer-gateway-owner.md
  tests/cli/asset_test.go
Labels: asset, enhancement

#1712 R4R: Add token issue api
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  app/v1/gov/msgs.go
  client/asset/lcd/sendtx.go
  lite/swagger-ui/swagger.yaml
Labels: API, asset

#1711 R4R: Add token genesis init and export
  app/protocol/constants.go
  app/v1/asset/asset.go
  app/v1/asset/fees.go
  app/v1/asset/genesis.go
  app/v1/asset/genesis_test.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_keys.go
  app/v1/asset/msgs.go
  app/v1/auth/genesis.go
  app/v1/auth/keeper.go
  app/v1/bank/keeper.go
  app/v1/bank/querier.go
  app/v1/distribution/keeper/allocation.go
  app/v1/distribution/keeper/keeper.go
  app/v1/export.go
  app/v1/gov/keeper.go
  app/v1/protocol_v1.go
  app/v1/service/genesis.go
  app/v1/service/handler.go
  app/v1/service/keeper.go
  app/v1/stake/invariants.go
  app/v1/stake/keeper/keeper.go
Labels: asset, state

#1716 R4R: Update How-to-install-irishub.md
  docs/zh/software/How-to-install-irishub.md
Labels: documentation

#1715 R4R: Update How-to-install-irishub.md
  docs/zh/software/How-to-install-irishub.md
Labels: documentation

#1730 R4R: Optimize fee query cli
  client/asset/cli/flags.go
  client/asset/cli/query.go
  client/asset/lcd/utils.go
  docs/cli-client/asset/query-fee.md
  docs/zh/cli-client/asset/query-fee.md
Labels: CLI, asset, enhancement

#1734 R4R: Fix cli test
  client/input.go
  tests/cli/asset_test.go
Labels: test

#1732 R4R: Add coin flow
  app/v1/asset/fees.go
  app/v1/asset/keeper.go
  app/v1/distribution/keeper/allocation.go
  app/v1/gov/execute.go
  app/v1/gov/govparams_util.go
  app/v1/gov/proposals.go
  client/gov/cli/sendtx.go
  client/gov/lcd/sendtx.go
  client/gov/utils.go
  docs/cli-client/gov/query-proposal.md
  docs/cli-client/gov/query-proposals.md
  docs/cli-client/gov/submit-proposal.md
  docs/features/governance.md
  docs/features/guardian.md
  docs/resources/validator-faq.md
  docs/software/cli-client.md
  docs/zh/cli-client/gov/query-proposal.md
  docs/zh/cli-client/gov/query-proposals.md
  docs/zh/cli-client/gov/submit-proposal.md
  docs/zh/features/governance.md
  docs/zh/features/guardian.md
  docs/zh/resources/validator-faq.md
  docs/zh/software/cli-client.md
  lite/swagger-ui/swagger.yaml
  modules/distribution/keeper/allocation.go
  modules/gov/proposals.go
  types/contexttags.go
Labels: asset

#1736 R4R: Update tendermint and iavl version
  go.mod
  go.sum
Labels: build

#1733 R4R: Fix bugs
  app/v1/asset/keeper.go
  app/v1/asset/keeper_keys.go
  app/v1/asset/querier.go
Labels: asset, bug

#1709 R4R: Add asset ante handler
  app/baseapp.go
  app/protocol/types.go
  app/v0/protocol_v0.go
  app/v1/asset/ante.go
  app/v1/asset/ante_test.go
  app/v1/asset/errors.go
  app/v1/protocol_v1.go
Labels: asset, enhancement

#1740 R4R: Refactor asset docs
  docs/cli-client/asset/create-gateway.md
  docs/cli-client/asset/edit-gateway.md
  docs/cli-client/asset/edit-token.md
  docs/cli-client/asset/issue-token.md
  docs/cli-client/asset/mint-token.md
  docs/cli-client/asset/query-fee.md
  docs/cli-client/asset/query-gateway.md
  docs/cli-client/asset/query-gateways.md
  docs/cli-client/asset/query-token.md
  docs/cli-client/asset/query-tokens.md
  docs/cli-client/asset/transfer-gateway-owner.md
  docs/cli-client/asset/transfer-token-owner.md
  docs/cli-client/bank/burn.md
  docs/cli-client/bank/send.md
  docs/features/asset.md
  docs/zh/cli-client/asset/create-gateway.md
  docs/zh/cli-client/asset/edit-gateway.md
  docs/zh/cli-client/asset/edit-token.md
  docs/zh/cli-client/asset/issue-token.md
  docs/zh/cli-client/asset/mint-token.md
  docs/zh/cli-client/asset/query-fee.md
  docs/zh/cli-client/asset/query-gateway.md
  docs/zh/cli-client/asset/query-gateways.md
  docs/zh/cli-client/asset/query-token.md
  docs/zh/cli-client/asset/query-tokens.md
  docs/zh/cli-client/asset/transfer-gateway-owner.md
  docs/zh/cli-client/asset/transfer-token-owner.md
  docs/zh/cli-client/bank/burn.md
  docs/zh/cli-client/bank/send.md
  docs/zh/features/asset.md
Labels: asset, documentation

#1743 R4R: Update validator-faq.md
  docs/resources/validator-faq.md
  docs/zh/resources/validator-faq.md
Labels: documentation

#1742 R4R: Update validator-faq.md
  docs/resources/validator-faq.md
  docs/zh/resources/validator-faq.md
Labels: documentation

#1747 R4R: bug fix and ready for 0.15-rc0
  app/v1/asset/keeper.go
  lite/swagger-ui/swagger.yaml
  version/version.go
Labels: bug, release

#1748 R4R: Add vuepress config for asset
  docs/.vuepress/config.js
  docs/cli-client/asset/README.md
  docs/cli-client/bank/account.md
  docs/cli-client/bank/coin-type.md
  docs/cli-client/bank/token-stats.md
  docs/cli-client/tx/broadcast.md
  docs/zh/cli-client/asset/README.md
  docs/zh/cli-client/bank/README.md
  docs/zh/cli-client/bank/account.md
  docs/zh/cli-client/bank/coin-type.md
  docs/zh/cli-client/bank/token-stats.md
  docs/zh/cli-client/tx/broadcast.md
  docs/zh/features/bank.md
Labels: asset, documentation

#1746 R4R: Refactor LCD post logic
  client/asset/lcd/sendtx.go
  client/bank/lcd/sendtx.go
  client/distribution/lcd/sendtx.go
  client/gov/lcd/sendtx.go
  client/service/lcd/sendtx.go
  client/slashing/lcd/sendtx.go
  client/stake/lcd/sendtx.go
  client/upgrade/lcd/query.go
  client/utils/rest.go
  client/utils/txcontext.go
  lite/swagger-ui/swagger.yaml
Labels: asset, client

#1737 R4R: Adjust proposal param threshold
  app/v1/gov/keeper.go
  app/v1/gov/params.go
  app/v1/protocol_v1.go
Labels: governance, param

#1754 R4R: Update swagger
  lite/swagger-ui/swagger.yaml
Labels: API, asset, client, documentation

#1739 R4R: Adjust the asset module
  app/v1/asset/alias.go
  app/v1/asset/exported/exported.go
  app/v1/asset/genesis.go
  app/v1/asset/genesis_test.go
  app/v1/asset/internal/keeper/ante.go
  app/v1/asset/internal/keeper/ante_test.go
  app/v1/asset/internal/keeper/fees.go
  app/v1/asset/internal/keeper/keeper.go
  app/v1/asset/internal/keeper/keeper_keys.go
  app/v1/asset/internal/keeper/keeper_test.go
  app/v1/asset/internal/keeper/querier.go
  app/v1/asset/internal/types/asset.go
  app/v1/asset/internal/types/codec.go
  app/v1/asset/internal/types/errors.go
  app/v1/asset/internal/types/family.go
  app/v1/asset/internal/types/gateway.go
  app/v1/asset/internal/types/genesis.go
  app/v1/asset/internal/types/msgs.go
  app/v1/asset/internal/types/msgs_test.go
  app/v1/asset/internal/types/params.go
  app/v1/asset/internal/types/querier.go
  app/v1/asset/internal/types/source.go
  app/v1/asset/internal/types/tags.go
  app/v1/asset/tags/tags.go
  app/v1/gov/expected_keepers.go
  app/v1/gov/keeper.go
  app/v1/gov/msgs.go
  tests/util.go
  types/rational_test.go
Labels: asset, refactoring

#1760 R4R: Reset the prometheus registry when loading a new protocol
  app/baseapp.go
  app/protocol/engine.go
  app/protocol/types.go
  app/v0/protocol_v0.go
  app/v1/protocol_v1.go
Labels: bug, metric

#1756 R4R: Refactor query param
  app/v1/asset/internal/types/params.go
  app/v1/auth/params.go
  app/v1/distribution/types/params.go
  app/v1/gov/codec.go
  app/v1/gov/handler.go
  app/v1/gov/params.go
  app/v1/mint/params.go
  app/v1/params/querier.go
  app/v1/params/subspace.go
  app/v1/params/subspace/pair.go
  app/v1/params/subspace/table_test.go
  app/v1/protocol_v1.go
  app/v1/service/params.go
  app/v1/slashing/params.go
  app/v1/stake/types/params.go
  client/gov/cli/query.go
  client/gov/lcd/flags.go
  client/gov/lcd/query.go
  client/gov/lcd/rest.go
  client/gov/utils.go
  client/params/cli/query.go
  client/params/lcd/query.go
  client/params/lcd/rest.go
  cmd/iriscli/main.go
  docs/cli-client/gov/README.md
  docs/cli-client/gov/query-params.md
  docs/cli-client/gov/submit-proposal.md
  docs/cli-client/params/README.md
  docs/features/governance.md
  docs/light-client/README.md
  docs/zh/cli-client/gov/README.md
  docs/zh/cli-client/gov/query-params.md
  docs/zh/cli-client/gov/submit-proposal.md
  docs/zh/cli-client/params/README.md
  docs/zh/features/governance.md
  docs/zh/light-client/README.md
  lite/lcd.go
  lite/swagger-ui/swagger.yaml
Labels: API, param

#1763 R4R: Update README
  README.md
Labels: documentation

#1766 R4R: Initialize external tokens BTC and ETH
  app/v1/asset/genesis_test.go
  app/v1/asset/internal/keeper/keeper.go
  app/v1/bank/keeper.go
  app/v1/invariants.go
Labels: asset

#1761 R4R: Modify asset default fee and fix params check
  app/v1/asset/internal/types/params.go
  app/v1/asset/internal/types/params_test.go
  app/v1/params/errors.go
Labels: asset, enhancement

#1767 R4R: Remove unless code & eliminate direct dependencies
  app/v1/asset/genesis_test.go
  app/v1/asset/internal/keeper/ante_test.go
  app/v1/asset/internal/keeper/keeper.go
  app/v1/asset/internal/keeper/keeper_test.go
  app/v1/asset/internal/types/expected_keepers.go
  app/v1/asset/test_common.go
  app/v1/distribution/types/params.go
  app/v1/gov/test_common.go
  app/v1/protocol_v1.go
Labels: asset

#1772 R4R: Renew outdated prometheus metrics collectors
  app/v0/protocol_v0.go
  app/v1/distribution/keeper/metrics.go
  app/v1/gov/metrics.go
  app/v1/protocol_v1.go
  app/v1/service/metrics.go
  app/v1/slashing/metrics.go
  app/v1/stake/keeper/metrics.go
  app/v1/upgrade/metrics.go
  tools/prometheus/registry.go
Labels: bug, metric

#1775 R4R: Cherry pick metrics fix to develop
  app/v0/protocol_v0.go
  app/v1/distribution/keeper/metrics.go
  app/v1/gov/metrics.go
  app/v1/protocol_v1.go
  app/v1/service/metrics.go
  app/v1/slashing/metrics.go
  app/v1/stake/keeper/metrics.go
  app/v1/upgrade/metrics.go
  tools/prometheus/registry.go
Labels: bug, metric

#1769 R4R: Fix bug
  app/v1/asset/exported/exported.go
  app/v1/asset/internal/keeper/keeper.go
  app/v1/asset/internal/types/msgs.go
  app/v1/gov/errors.go
  app/v1/gov/msgs.go
  modules/gov/errors.go
Labels: asset, governance

#1782 R4R: Fix Bug for asset module
  app/v1/asset/internal/keeper/keeper.go
  types/decimal.go
Labels: asset, bug

#1729 R4R: Refactor gov module
  app/v1/asset/exported/exported.go
  app/v1/gov/end_blocker.go
  app/v1/gov/execute.go
  app/v1/gov/govparams_util.go
  app/v1/gov/handler.go
  app/v1/gov/keeper.go
  app/v1/gov/msgs.go
  app/v1/gov/params.go
  app/v1/gov/proposal_add_token.go
  app/v1/gov/proposal_halt.go
  app/v1/gov/proposal_params.go
  app/v1/gov/proposal_taxusage.go
  app/v1/gov/proposal_text.go
  app/v1/gov/proposal_upgrade.go
  app/v1/gov/proposal_util.go
  app/v1/gov/proposals.go
  app/v1/gov/queryable.go
  app/v1/gov/tally.go
  client/gov/cli/query.go
  client/gov/lcd/query.go
  client/gov/utils.go
  modules/gov/keeper.go
  tests/cli/asset_test.go
Labels: governance, refactoring

#1787 R4R: Only export local private keys
  crypto/keys/keybase.go
Labels: bug, crypto

#1790 R4R: Fix GetInputAmount formula
  app/v1/coinswap/internal/keeper/swap.go
Labels: coin-swap, enhancement

#1794 R4R: Refactor swap functions to match the design in the spec
  app/v1/coinswap/internal/keeper/keeper.go
  app/v1/coinswap/internal/keeper/swap.go
Labels: coin-swap

#1784 R4R: Adjust field name
  app/v1/asset/handler.go
  app/v1/asset/internal/keeper/keeper.go
  app/v1/asset/internal/types/asset.go
  app/v1/asset/internal/types/errors.go
  app/v1/asset/internal/types/msgs.go
  app/v1/asset/internal/types/msgs_test.go
  app/v1/gov/msgs.go
  app/v1/gov/proposal_util.go
  client/asset/cli/flags.go
  client/asset/cli/sendtx.go
  client/asset/lcd/sendtx.go
  client/gov/cli/flags.go
  client/gov/cli/sendtx.go
  client/gov/lcd/sendtx.go
  docs/cli-client/asset/edit-token.md
  docs/cli-client/asset/issue-token.md
  docs/cli-client/gov/submit-proposal.md
  docs/zh/cli-client/asset/edit-token.md
  docs/zh/cli-client/asset/issue-token.md
  docs/zh/cli-client/gov/submit-proposal.md
  lite/swagger-ui/swagger.yaml
  tests/cli/asset_test.go
  types/coin.go
  types/coin_test.go
Labels: asset

#1798 R4R: Add riot href
  README.md
Labels: documentation

#1800 R4R: Check tty for adding keys
  client/keys/cli/add.go
  client/keys/input.go
Labels: CLI, enhancement

#1797 R4R: Fix liquidity update
  app/v1/auth/keeper.go
  app/v1/coinswap/internal/keeper/keeper.go
  app/v1/coinswap/internal/keeper/keeper_test.go
  app/v1/coinswap/internal/keeper/test_common.go
Labels: coin-swap

#1789 R4R: Fix tx context in LCD
  client/asset/lcd/sendtx.go
  client/bank/lcd/sendtx.go
  client/distribution/lcd/sendtx.go
  client/gov/lcd/sendtx.go
  client/service/lcd/sendtx.go
  client/slashing/lcd/sendtx.go
  client/stake/lcd/sendtx.go
  client/tx/lcd/broadcast.go
  client/tx/lcd/rest.go
  client/tx/lcd/sign.go
  client/utils/rest.go
  client/utils/txcontext.go
  docs/light-client/README.md
  docs/zh/light-client/README.md
  lite/swagger-ui/swagger.yaml
Labels: client, documentation

#1785 R4R: List all actions
  app/v1/service/msgs.go
  docs/cli-client/tendermint/txs.md
  docs/zh/cli-client/tendermint/txs.md
Labels: documentation

#1803 R4R: Normalized gov msg name
  app/v1/gov/codec.go
  app/v1/gov/errors.go
  app/v1/gov/handler.go
  app/v1/gov/keeper.go
  app/v1/gov/msgs.go
  app/v1/gov/proposal_community_tax_usage.go
  app/v1/gov/proposal_parameter.go
  app/v1/gov/proposal_plain_text.go
  app/v1/gov/proposal_software_upgrade.go
  app/v1/gov/proposal_system_halt.go
  app/v1/gov/proposal_token_addition.go
  app/v1/gov/proposal_util.go
  app/v1/gov/proposals.go
  client/gov/cli/sendtx.go
  client/gov/lcd/sendtx.go
  docs/cli-client/gov/query-proposals.md
  docs/cli-client/gov/submit-proposal.md
  docs/features/governance.md
  docs/software/cli-client.md
  docs/zh/cli-client/gov/query-proposals.md
  docs/zh/cli-client/gov/submit-proposal.md
  docs/zh/features/governance.md
  docs/zh/software/cli-client.md
  tests/cli/gov_test.go
Labels: governance

#1805 R4R: Improve LCD
  client/keys/lcd/add.go
  client/keys/lcd/delete.go
  client/keys/lcd/list.go
  client/keys/lcd/root.go
  client/keys/lcd/show.go
  client/keys/lcd/update.go
  client/keys/lcd/wire.go
  client/tx/lcd/broadcast.go
  client/utils/rest.go
  docs/light-client/README.md
  docs/zh/light-client/README.md
  lite/lcd.go
  lite/swagger-ui/swagger.yaml
Labels: API, documentation

#1807 R4R: Skip validation of the length of CanonicalSymbol
  app/v1/asset/internal/types/msgs.go
  app/v1/gov/msgs.go
Labels: asset

#1810 R4R: Update asset parameter values
  docs/features/asset.md
  docs/zh/features/asset.md
Labels: asset, documentation

#1812 R4R: Adjust gateway moniker rule
  app/v1/asset/internal/types/msgs.go
  app/v1/asset/internal/types/msgs_test.go
  docs/cli-client/asset/create-gateway.md
  docs/cli-client/asset/edit-gateway.md
  docs/cli-client/asset/query-gateway.md
  docs/zh/cli-client/asset/create-gateway.md
  docs/zh/cli-client/asset/edit-gateway.md
  docs/zh/cli-client/asset/query-gateway.md
Labels: asset, documentation

#1814 R4R: Optimize error messages
  app/v1/auth/feeauth.go
  app/v1/bank/querier.go
  client/keys/utils.go
  modules/auth/querier.go
  types/errors.go
Labels: client, enhancement

#1815 R4R: Return [] for empty assets
  app/v1/asset/internal/types/asset.go
Labels: asset, bug, client

#1816 R4R: Mark decimal is required
  client/asset/cli/sendtx.go
  docs/cli-client/asset/issue-token.md
  docs/zh/cli-client/asset/issue-token.md
Labels: CLI, asset

#1819 R4R: Fix bug "signature verification failed"
  app/v1/asset/alias.go
  app/v1/asset/internal/keeper/keeper.go
  app/v1/asset/internal/keeper/keeper_test.go
  app/v1/asset/internal/types/family.go
  app/v1/asset/internal/types/msgs.go
  app/v1/asset/internal/types/msgs_test.go
  client/asset/cli/flags.go
  client/asset/cli/sendtx.go
  client/asset/lcd/sendtx.go
  lite/swagger-ui/swagger.yaml
Labels: CLI, asset, bug, client

#1820 R4R: Add plain text proposal
  docs/features/governance.md
  docs/zh/features/governance.md
Labels: documentation, governance

#1821 R4R: Fix cli test
  tests/cli/bank_test.go
Labels: bank, test

#1824 R4R: Refactor CoinType and Config etc.
  app/v0/genesis.go
  app/v1/asset/internal/keeper/ante.go
  app/v1/asset/internal/keeper/fees.go
  app/v1/asset/internal/keeper/querier.go
  app/v1/asset/internal/types/asset.go
  app/v1/asset/internal/types/msgs.go
  app/v1/asset/internal/types/params.go
  app/v1/asset/internal/types/params_test.go
  app/v1/asset/internal/types/querier.go
  app/v1/asset/test_common.go
  app/v1/auth/account.go
  app/v1/auth/feeauth.go
  app/v1/auth/keeper.go
  app/v1/bank/keeper.go
  app/v1/bank/querier.go
  app/v1/bank/querier_test.go
  app/v1/distribution/keeper/allocation.go
  app/v1/distribution/keeper/querier.go
  app/v1/distribution/types/dec_coin.go
  app/v1/genesis.go
  app/v1/gov/depositsvotes.go
  app/v1/gov/params.go
  app/v1/gov/proposal_token_addition.go
  app/v1/gov/proposals.go
  app/v1/gov/tally.go
  app/v1/gov/test_common.go
  app/v1/mock/app.go
  app/v1/service/test_common.go
  app/v1/stake/keeper/keeper.go
  app/v1/stake/keeper/slash.go
  app/v1/stake/keeper/validator.go
  app/v1/stake/types/params.go
  app/v1/stake/types/validator.go
  client/bank/cli/query.go
  client/bank/lcd/query.go
  client/bank/utils.go
  client/context/context.go
  client/context/query.go
  client/stake/utils.go
  client/utils/utils.go
  mock/app.go
  modules/distribution/keeper/allocation.go
  modules/distribution/types/dec_coin.go
  modules/gov/params.go
  modules/gov/test_common.go
  modules/service/test_common.go
  modules/stake/keeper/keeper.go
  modules/stake/keeper/slash.go
  modules/stake/keeper/validator.go
  modules/stake/types/params.go
  modules/stake/types/validator.go
  tests/cli/utils.go
  tools/human/human.go
  types/coin.go
  types/coin_type.go
  types/coin_type_test.go
  types/config.go
  types/human.go
Labels: refactoring

#1768 R4R: Add rand module for RNG
  app/protocol/constants.go
  app/protocol/engine.go
  app/v1/export.go
  app/v1/genesis.go
  app/v1/protocol_v1.go
  app/v1/rand/abci.go
  app/v1/rand/alias.go
  app/v1/rand/exported/exported.go
  app/v1/rand/genesis.go
  app/v1/rand/genesis_test.go
  app/v1/rand/handler.go
  app/v1/rand/internal/keeper/keeper.go
  app/v1/rand/internal/keeper/keeper_keys.go
  app/v1/rand/internal/keeper/keeper_test.go
  app/v1/rand/internal/keeper/querier.go
  app/v1/rand/internal/types/cdc.go
  app/v1/rand/internal/types/errors.go
  app/v1/rand/internal/types/genesis.go
  app/v1/rand/internal/types/msgs.go
  app/v1/rand/internal/types/msgs_test.go
  app/v1/rand/internal/types/params.go
  app/v1/rand/internal/types/querier.go
  app/v1/rand/internal/types/rand.go
  app/v1/rand/internal/types/request.go
  app/v1/rand/internal/types/rng.go
  app/v1/rand/internal/types/tags.go
  app/v1/rand/test_common.go
  client/rand/cli/flags.go
  client/rand/cli/query.go
  client/rand/cli/sendtx.go
  client/rand/lcd/query.go
  client/rand/lcd/rest.go
  client/rand/lcd/sendtx.go
  client/rand/lcd/utils.go
  cmd/iriscli/main.go
  types/utils.go
Labels: enhancement, random

#1825 R4R: Simplify ExRateFromStakeTokenToMainUnit
  app/v1/stake/types/params.go
  client/distribution/utils.go
  client/stake/utils.go
  client/utils/utils.go
  server/init/gentx.go
Labels: refactoring

#1823 R4R: Modify docs and cli tips
  client/gov/cli/sendtx.go
  client/gov/utils.go
  docs/features/governance.md
  docs/zh/features/governance.md
  lite/swagger-ui/swagger.yaml
Labels: CLI, documentation

#1828 R4R: Move ABCI callbacks into abci.app
  app/v1/distribution/abci.go
  app/v1/gov/abci.go
  app/v1/mint/abci.go
  app/v1/service/abci.go
  app/v1/service/handler.go
  app/v1/stake/abci.go
  app/v1/stake/handler.go
  app/v1/upgrade/abci.go
Labels: refactoring

#1830 R4R: Fix asset genesis check
  app/v1/asset/internal/types/asset.go
Labels: bug

#1829 R4R: Add user docs for random module
  docs/.vuepress/config.js
  docs/features/random.md
  docs/zh/features/random.md
Labels: documentation, random

#1831 R4R: Add rand docs and fix
  app/v1/rand/alias.go
  app/v1/rand/internal/keeper/keeper.go
  app/v1/rand/internal/keeper/querier.go
  app/v1/rand/internal/types/errors.go
  app/v1/rand/internal/types/tags.go
  client/rand/cli/query.go
  client/rand/lcd/sendtx.go
  client/rand/lcd/utils.go
  docs/cli-client/rand/query-queue.md
  docs/cli-client/rand/query-rand.md
  docs/cli-client/rand/request-rand.md
  docs/light-client/README.md
  docs/zh/cli-client/rand/query-queue.md
  docs/zh/cli-client/rand/query-rand.md
  docs/zh/cli-client/rand/request-rand.md
  docs/zh/light-client/README.md
  lite/lcd.go
  lite/swagger-ui/swagger.yaml
Labels: API, CLI, documentation, random

#1837 R4R: Fix rand client output
  client/rand/cli/query.go
  client/rand/lcd/utils.go
  client/rand/types/rand.go
Labels: API, CLI, bug, random

#1838 R4R: Add `random` action list in document
  docs/features/random.md
  docs/zh/features/asset.md
  docs/zh/features/random.md
Labels: documentation, random

#1836 R4R: Release version 0.15.0-rc2
  README.md
  lite/swagger-ui/swagger.yaml
  version/version.go
Labels: build

#1841 R4R: Release v0.15.0 Changelog
  CHANGELOG.md
  docs/light-client/CHANGELOG.md
Labels: documentation

#1843 R4R: Harden coin, coins and bank/auth keepers
  app/v0/genesis.go
  app/v1/asset/internal/keeper/ante.go
  app/v1/asset/internal/keeper/ante_test.go
  app/v1/asset/internal/keeper/fees.go
  app/v1/asset/internal/types/params.go
  app/v1/auth/account.go
  app/v1/auth/ante.go
  app/v1/auth/ante_test.go
  app/v1/auth/feeauth.go
  app/v1/auth/feekeeper.go
  app/v1/auth/keeper.go
  app/v1/auth/keeper_test.go
  app/v1/bank/invariants.go
  app/v1/bank/keeper.go
  app/v1/bank/msgs.go
  app/v1/bank/msgs_test.go
  app/v1/bank/querier_test.go
  app/v1/distribution/keeper/allocation.go
  app/v1/distribution/keeper/delegation.go
  app/v1/distribution/keeper/querier.go
  app/v1/genesis.go
  app/v1/gov/depositsvotes.go
  app/v1/gov/keeper.go
  app/v1/gov/msgs.go
  app/v1/gov/proposals.go
  app/v1/mock/app.go
  app/v1/service/keeper.go
  app/v1/service/keeper_test.go
  app/v1/service/msgs.go
  app/v1/slashing/app_test.go
  app/v1/stake/app_test.go
  client/bank/cli/query.go
  client/bank/lcd/query.go
  client/context/context.go
  client/context/query.go
  mock/app.go
  modules/auth/ante.go
  modules/auth/ante_test.go
  modules/auth/feeauth.go
  modules/auth/feekeeper.go
  modules/auth/keeper.go
  modules/auth/stdtx.go
  modules/bank/invariants.go
  modules/bank/keeper.go
  modules/bank/msgs.go
  modules/gov/keeper.go
  modules/gov/msgs.go
  modules/service/keeper.go
  modules/service/keeper_test.go
  modules/service/msgs.go
  modules/slashing/app_test.go
  modules/stake/app_test.go
  tests/cli/service_test.go
  tests/sim/bank/msgs.go
  tests/sim/stake/msgs.go
  types/coin.go
  types/coin_benchmark_test.go
  types/coin_test.go
  types/context_test.go
  types/int.go
Labels: refactoring

#1844 R4R: Calculate total supply from accounts
  app/v1/auth/genesis.go
  app/v1/auth/keeper.go
  app/v1/gov/errors.go
  app/v1/gov/msgs.go
  app/v1/protocol_v1.go
  modules/gov/errors.go
  modules/gov/msgs.go
  modules/gov/proposals.go
Labels: governance
