Repository irisnet/irishub, pull requests merged in 2019-06, with the labels that each got.

#1494 R4R: Delegators can also vote on proposals
  app/v1/gov/errors.go
  app/v1/gov/handler.go
  app/v1/gov/keeper.go
  app/v1/gov/tally.go
  client/gov/cli/sendtx.go
  docs/cli-client/gov/vote.md
  docs/features/governance.md
  docs/zh/cli-client/gov/vote.md
  docs/zh/features/governance.md
Labels: enhancement, governance

#1508 R4R: Add gateway edition
  app/v1/asset/errors.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/msgs.go
Labels: asset, enhancement

#1522 R4R: Split the export command into reset and export
  app/app.go
  app/v1/metrics.go
  cmd/iris/main.go
  docs/.vuepress/config.js
  docs/software/export.md
  docs/software/reset.md
  docs/zh/software/export.md
  docs/zh/software/reset.md
  server/constructors.go
  server/export.go
  server/reset.go
Labels: refactoring, state

#1525 R4R: Enforce unbonding_time regardless of validator status
  app/v1/stake/handler_test.go
  app/v1/stake/keeper/delegation.go
Labels: bug, enhancement, stake

#1517 R4R: Add keystore support
  Makefile
  client/keys/cli/add.go
  client/keys/cli/export.go
  client/keys/cli/root.go
  client/keys/utils.go
  client/tx/cli/multisign.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/keys/types.go
  crypto/keystore/common.go
  crypto/keystore/keys.go
  crypto/keystore/keystore.go
  crypto/keystore/keystore_test.go
  crypto/keystore/uuid/codec.go
  crypto/keystore/uuid/generator.go
  crypto/keystore/uuid/uuid.go
  modules/stake/handler_test.go
  tests/sim/stake/sim_test.go
Labels: client, crypto

#1530 R4R: Fix v1 stake test
  app/v1/stake/keeper/delegation_test.go
Labels: stake, test

#1535 R4R: Modify gateway create
  app/v1/asset/errors.go
  app/v1/asset/gateway.go
  app/v1/asset/genesis.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_keys.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  app/v1/asset/querier.go
  client/asset/cli/flags.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  cmd/iriscli/main.go
Labels: asset, enhancement

#1555 R4R: Add network type in version message
  version/version.go
Labels: enhancement

#1558 R4R: Cherry pick doc fix to develop
  docs/software/How-to-install-irishub.md
Labels: documentation

#1545 R4R: Add new function - Issue Asset
  app/protocol/engine.go
  app/v1/asset/asset.go
  app/v1/asset/errors.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_keys.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  app/v1/asset/querier.go
  app/v1/asset/wire.go
  app/v1/auth/keeper.go
  app/v1/distribution/keeper/allocation.go
  app/v1/distribution/keeper/delegation.go
  app/v1/distribution/keeper/keeper.go
  app/v1/distribution/keeper/querier.go
  app/v1/gov/keeper.go
  app/v1/service/genesis.go
  client/asset/cli/flags.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  cmd/iriscli/main.go
  tests/cli/utils.go
Labels: asset, enhancement

#1562 R4R: Check chain-id length in the service module
  app/v1/service/msgs.go
Labels: bug, service

#1563 R4R: Fix invariant check
  app/v1/distribution/invariants.go
  app/v1/stake/invariants.go
Labels: invariant, refactoring

#1569 R4R: Optimize Dockerfile
  Dockerfile
  Dockerfile-testnet
Labels: build, enhancement

#1571 R4R: Add circleci config
  .circleci/config.yml
Labels: enhancement

#1570 R4R: Add empty KDF params check
  crypto/keystore/keystore.go
Labels: bug, crypto

#1541 R4R: Add gateway cli test and docs
  client/asset/cli/flags.go
  client/asset/cli/sendtx.go
  cmd/iriscli/main.go
  docs/cli-client/asset/create-gateway.md
  docs/cli-client/asset/edit-gateway.md
  docs/cli-client/asset/query-gateway.md
  docs/cli-client/asset/query-gateways.md
  docs/zh/cli-client/asset/create-gateway.md
  docs/zh/cli-client/asset/edit-gateway.md
  docs/zh/cli-client/asset/query-gateway.md
  docs/zh/cli-client/asset/query-gateways.md
  tests/cli/asset_test.go
  tests/cli/utils.go
Labels: asset, enhancement, test

#1573 R4R: Improve the availability of multi-sign
  client/keys/cli/add.go
  client/keys/cli/delete.go
  crypto/keys/keybase.go
Labels: crypto

#1542 R4R: Add gateway lcd and docs
  app/v1/asset/keeper.go
  app/v1/asset/keeper_keys.go
  app/v1/asset/querier.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  client/asset/lcd/query.go
  client/asset/lcd/rest.go
  client/asset/lcd/sendtx.go
  client/asset/lcd/utils.go
  docs/light-client/README.md
  docs/zh/light-client/README.md
  lite/lcd.go
  lite/swagger-ui/swagger.yaml
Labels: asset, client, enhancement

#1572 R4R: Providers should be exempt from timeout slash under the profiling mode
  app/v1/service/handler.go
Labels: service

#1580 R4R: Burn token if sending tokens to BurnedCoinsAccAddr
  app/v1/bank/keeper.go
Labels: bank, bug

#1575 R4R: Fix gateway msg cdc and add gateways check
  app/v1/asset/gateway.go
  app/v1/asset/wire.go
Labels: asset, enhancement

#1583 R4R: Change owner gateway key and add keeper query tests
  app/v1/asset/keeper_keys.go
  app/v1/asset/keeper_test.go
  app/v1/asset/querier.go
Labels: asset, enhancement

#1582 R4R: Remove the query for community tax and deprecated code
  app/v1/distribution/alias.go
  app/v1/distribution/keeper/querier.go
  client/distribution/cli/query.go
  client/distribution/lcd/query.go
  client/distribution/lcd/rest.go
  cmd/iriscli/main.go
  docs/cli-client/distribution/README.md
  docs/cli-client/distribution/community-tax.md
  docs/zh/cli-client/distribution/README.md
  docs/zh/cli-client/distribution/community-tax.md
  lite/swagger-ui/swagger.yaml
Labels: distr, refactoring

#1581 R4R: Add newly issued coins into owner's account
  app/v1/asset/asset.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_test.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
Labels: asset

#1589 R4R: Convert asset to coin type
  client/context/query.go
Labels: asset, bank, client

#1587 R4R: Handle asset issuing for gateways
  app/v1/asset/asset.go
  app/v1/asset/errors.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  client/asset/cli/flags.go
  client/asset/cli/sendtx.go
Labels: asset

#1586 WIP: Handle required fee for issuing an asset
  app/v1/asset/asset.go
  app/v1/asset/errors.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
Labels: asset

#1585 R4R: Subtract BurnedCoinsAccAddr coins in v0 from looseToken
  app/v1/bank/keeper.go
Labels: bank, bug

#1584 R4R: Handle required fee for creating a gateway
  app/v1/asset/errors.go
  app/v1/asset/fees.go
  app/v1/asset/gateway.go
  app/v1/asset/handler.go
  app/v1/asset/msgs.go
  app/v1/asset/params.go
  app/v1/asset/querier.go
  client/asset/cli/flags.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  client/asset/lcd/query.go
  client/asset/lcd/sendtx.go
  client/asset/lcd/utils.go
  cmd/iriscli/main.go
Labels: asset, enhancement

#1576 R4R: Improve the availability of blockchain state reset and export
  app/app.go
  cmd/iris/main.go
  docs/software/export.md
  docs/software/reset.md
  docs/zh/software/export.md
  docs/zh/software/reset.md
  server/constructors.go
  server/export.go
  server/reset.go
  store/rootmultistore.go
Labels: bug, enhancement

#1598 R4R: Reserve iris as keyword for asset symbol name
  app/v1/asset/msgs.go
Labels: asset, enhancement

#1594 R4R: Add LCD API for Asset Query
  app/v1/asset/asset.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  app/v1/asset/querier.go
  app/v1/asset/tags/tags.go
  client/asset/cli/flags.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  client/asset/lcd/query.go
  client/asset/lcd/utils.go
  client/context/query.go
  client/tendermint/tx/searchtx.go
  lite/swagger-ui/swagger.yaml
Labels: asset

#1597 R4R: Make it easy to load and test any protocol version
  app/baseapp.go
  app/protocol/engine.go
  app/v1/auth/keeper.go
Labels: bank, refactoring

#1602 R4R: Refactor asset module
  app/v1/asset/asset.go
  app/v1/asset/fees.go
  app/v1/asset/genesis.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_keys.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  app/v1/asset/params.go
  app/v1/asset/querier.go
  app/v1/asset/source.go
  app/v1/asset/wire.go
  app/v1/params/errors.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  client/asset/lcd/utils.go
  client/bank/cli/query.go
  client/context/query.go
  modules/stake/types/validator.go
Labels: asset, enhancement

#1606 R4R: Parse user issued coins
  client/bank/cli/query.go
  client/bank/utils.go
Labels: bank, enhancement

#1492 R4R: Add asset issue cli document
  docs/cli-client/asset/issue.md
  docs/zh/cli-client/asset/issue.md
Labels: asset, documentation

#1596 R4R: Modify asset fee queries
  app/v1/asset/asset.go
  app/v1/asset/fees.go
  app/v1/asset/msgs.go
  app/v1/asset/querier.go
  client/asset/cli/flags.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  client/asset/lcd/query.go
  client/asset/lcd/utils.go
  client/context/query.go
  cmd/iriscli/main.go
Labels: asset, enhancement

#1610 R4R: Deduct fees for issuing tokens
  app/v1/asset/family.go
  app/v1/asset/fees.go
  app/v1/asset/handler.go
  app/v1/asset/msgs_test.go
Labels: asset

#1611 R4R: Fix cli test
  app/v1/asset/params.go
  client/bank/cli/query.go
  tests/cli/asset_test.go
  tests/cli/bank_test.go
  tests/cli/utils.go
Labels: test

#1600 R4R: Turn on params validation for testnet
  app/v1/asset/params.go
  app/v1/auth/params.go
  app/v1/distribution/types/params.go
  app/v1/gov/params.go
  app/v1/mint/params.go
  app/v1/params/errors.go
  app/v1/service/params.go
  app/v1/slashing/params.go
  app/v1/stake/types/params.go
  modules/auth/params.go
  modules/distribution/types/params.go
  modules/gov/params.go
  modules/mint/params.go
  modules/service/params.go
  modules/slashing/params.go
  modules/stake/types/params.go
Labels: param

#1614 R4R: Add unit tests support for CI
  .circleci/config.yml
Labels: build

#1615 R4R: Cherry pick ci config from master
  .circleci/config.yml
  README.md
Labels: build

#1616 R4R: Modify gateways stringer
  app/v1/asset/gateway.go
Labels: asset, enhancement

#1617 R4R: Fix bugs
  .circleci/config.yml
  app/v1/asset/asset.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  types/coin_type.go
  types/coin_type_test.go
Labels: asset, bug

#1630 R4R: Modify gateway edit cli
  client/asset/cli/sendtx.go
Labels: asset, enhancement

#1523 R4R: Add a new proposal type - AddTokenProposal
  app/v1/gov/codec.go
  app/v1/gov/execute.go
  app/v1/gov/govparams_util.go
  app/v1/gov/handler.go
  app/v1/gov/keeper.go
  app/v1/gov/msgs.go
  app/v1/gov/proposal_add_token.go
  app/v1/gov/proposals.go
  app/v1/gov/tags/tags.go
  app/v1/gov/tally.go
  app/v1/gov/test_common.go
  app/v1/protocol_v1.go
  client/gov/cli/flags.go
  client/gov/cli/query.go
  client/gov/cli/sendtx.go
  client/gov/lcd/sendtx.go
  docs/cli-client/gov/submit-proposal.md
  docs/zh/cli-client/gov/submit-proposal.md
  lite/swagger-ui/swagger.yaml
Labels: asset, enhancement, governance

#1644 R4R: Fix tx search by tx.height
  client/tendermint/tx/searchtx.go
Labels: bug, client

#1645 R4R: Hotfix tx search by tx.height
  client/tendermint/tx/searchtx.go
Labels: bug, client

#1640 R4R: Fix token issue fee for gateway
  app/v1/asset/handler.go
  app/v1/asset/tags/tags.go
  tests/cli/asset_test.go
  tests/cli/utils.go
Labels: asset, bug

#1662 R4R: Add memo in BaseTx
  lite/swagger-ui/swagger.yaml
Labels: bug

#1664 R4R: Fix asset cli test
  tests/cli/asset_test.go
Labels: CLI, asset

#1663 R4R: Add memo in BaseTx
  lite/swagger-ui/swagger.yaml
Labels: bug

#1631 R4R: Add fee tips for gateway creation CLI
  client/asset/cli/flags.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  client/asset/cli/utils.go
Labels: CLI, asset, enhancement

#1669 R4R: Fix inappropriate coin check in DecreaseTotalLoosenToken()
  app/v1/auth/keeper.go
Labels: bug, distr

#1671 R4R: Fix bugs
  app/v1/asset/errors.go
  app/v1/asset/msgs.go
  app/v1/asset/querier.go
  client/asset/lcd/utils.go
Labels: asset, bug

#1661 R4R: Add gateway owner transfer
  app/v1/asset/errors.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  app/v1/asset/wire.go
  client/asset/cli/flags.go
  client/asset/cli/sendtx.go
  cmd/iriscli/main.go
Labels: asset, enhancement

#1674 R4R: Remove the Fee field from gateway creation
  app/v1/asset/errors.go
  app/v1/asset/fees.go
  app/v1/asset/handler.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  client/asset/cli/flags.go
  client/asset/cli/sendtx.go
  client/asset/lcd/sendtx.go
  tests/cli/asset_test.go
Labels: asset, enhancement

#1672 R4R: Add fee query swagger
  lite/swagger-ui/swagger.yaml
Labels: asset, bug

#1609 R4R: Refactor Total Supply
  app/v1/asset/asset.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_keys.go
  app/v1/asset/keeper_test.go
  app/v1/asset/querier.go
  app/v1/auth/keeper.go
  app/v1/auth/keeper_test.go
  app/v1/bank/keeper.go
  app/v1/bank/querier.go
  app/v1/bank/querier_test.go
  app/v1/gov/keeper.go
  client/asset/lcd/utils.go
  client/bank/cli/query.go
  client/bank/lcd/query.go
  client/bank/lcd/rest.go
  client/bank/utils.go
  go.mod
  go.sum
  lite/swagger-ui/swagger.yaml
  tests/cli/asset_test.go
  tests/cli/bank_test.go
  tests/cli/utils.go
  types/asset.go
  types/coin.go
  types/coin_type.go
Labels: asset, bank

#1653 R4R: Construction of MsgEditToken and related test
  app/v1/asset/errors.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  app/v1/asset/wire.go
  app/v1/auth/keeper.go
  client/asset/cli/flags.go
  client/asset/cli/sendtx.go
  client/asset/lcd/sendtx.go
  cmd/iriscli/main.go
  docs/light-client/README.md
  docs/zh/light-client/README.md
  lite/swagger-ui/swagger.yaml
Labels: asset

#1673 R4R: Support IRIS query in iriscli asset query-token
  app/v1/asset/asset.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  app/v1/asset/querier.go
  app/v1/auth/keeper_test.go
  app/v1/bank/querier_test.go
  client/bank/lcd/query.go
  tests/cli/bank_test.go
Labels: asset, enhancement

#1682 R4R: Refactor LCD token query
  app/v1/asset/asset.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_keys.go
  app/v1/asset/querier.go
  client/asset/lcd/utils.go
Labels: asset, enhancement

#1686 R4R: Fix gateway edit
  app/v1/asset/keeper.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  client/asset/cli/flags.go
  client/asset/cli/sendtx.go
  client/asset/lcd/sendtx.go
Labels: asset, bug

#1685 R4R: Modify and add gateway docs
  docs/cli-client/asset/query-fee.md
  docs/cli-client/asset/query-gateway.md
  docs/cli-client/asset/query-gateways.md
  docs/zh/cli-client/asset/create-gateway.md
  docs/zh/cli-client/asset/query-fee.md
  docs/zh/cli-client/asset/query-gateway.md
  docs/zh/cli-client/asset/query-gateways.md
Labels: asset, documentation

#1683 R4R: Add gateway transfer CLI test and LCD
  client/asset/cli/sendtx.go
  client/asset/lcd/sendtx.go
  docs/cli-client/asset/transfer-gateway-owner.md
  docs/light-client/README.md
  docs/zh/cli-client/asset/transfer-gateway-owner.md
  docs/zh/light-client/README.md
  tests/cli/asset_test.go
Labels: asset, client, documentation, enhancement, test

#1680 R4R: Add function transferTokenOwner
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  app/v1/asset/wire.go
  client/asset/cli/flags.go
  client/asset/cli/sendtx.go
  cmd/iriscli/main.go
  docs/cli-client/asset/transfer-token-owner.md
  docs/zh/cli-client/asset/transfer-token-owner.md
  server/init/testnet.go
  tests/cli/asset_test.go
Labels: asset

#1687 R4R: Add token issue fee confirmation
  app/v1/asset/asset.go
  app/v1/asset/msgs.go
  app/v1/asset/querier.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  client/asset/lcd/utils.go
  cmd/iriscli/main.go
  tests/cli/asset_test.go
Labels: asset, enhancement

#1684 R4R: Add new function mint-token
  app/v1/asset/errors.go
  app/v1/asset/handler.go
  app/v1/asset/keeper.go
  app/v1/asset/keeper_test.go
  app/v1/asset/msgs.go
  app/v1/asset/msgs_test.go
  app/v1/asset/wire.go
  client/asset/cli/flags.go
  client/asset/cli/sendtx.go
  cmd/iriscli/main.go
  docs/cli-client/asset/edit-token.md
  docs/cli-client/asset/mint-token.md
  docs/zh/cli-client/asset/mint-token.md
  server/init/testnet.go
Labels: asset

#1688 R4R: Add gateway edit keeper tests and CLI docs
  app/v1/asset/keeper_test.go
  docs/cli-client/asset/edit-gateway.md
  docs/zh/cli-client/asset/edit-gateway.md
Labels: asset, documentation, test

#1690 R4R: Return current time if redelegate from an unbonded validator
  app/v1/stake/keeper/delegation.go
Labels: enhancement, stake
