Repository irisnet/irishub, pull requests merged in 2020-02, with the labels that each got.

#2196 R4R: "asset token tokens" should returns "[]" if result is empty
  app/v3/asset/internal/types/querier.go
Labels: CLI, asset

#2197 R4R: Fix server name regexp
  app/v3/service/internal/types/msgs.go
Labels: bug, service

#2198 R4R: fix "Token id" confused
  client/asset/cli/sendtx.go
Labels: CLI, asset

#2210 R4R: Fix amount check
  app/v3/gov/msgs.go
  client/gov/cli/sendtx.go
Labels: bug, governance

#2211 R4R: Implement interfaces for other modules
  app/v3/service/exported/exported.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper.go
  app/v3/service/internal/keeper/keeper_keys.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/invocation.go
Labels: refactoring, service

#2205 R4R: Implement oracle business logic
  app/v3/oracle/alias.go
  app/v3/oracle/genesis.go
  app/v3/oracle/handler.go
  app/v3/oracle/internal/keeper/feed.go
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/oracle/internal/keeper/keeper_keys.go
  app/v3/oracle/internal/keeper/keeper_test.go
  app/v3/oracle/internal/keeper/querier.go
  app/v3/oracle/internal/keeper/querier_test.go
  app/v3/oracle/internal/keeper/test_common.go
  app/v3/oracle/internal/types/aggregate.go
  app/v3/oracle/internal/types/aggregate_test.go
  app/v3/oracle/internal/types/codec.go
  app/v3/oracle/internal/types/errors.go
  app/v3/oracle/internal/types/expected_keepers.go
  app/v3/oracle/internal/types/feed.go
  app/v3/oracle/internal/types/msgs.go
  app/v3/oracle/internal/types/msgs_test.go
  app/v3/oracle/internal/types/querier.go
  app/v3/oracle/internal/types/tags.go
  app/v3/service/exported/exported.go
  go.mod
  go.sum
Labels: enhancement

#2200 R4R: Refactor service invocation
  app/v3/service/abci.go
  app/v3/service/alias.go
  app/v3/service/genesis.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/binding.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper.go
  app/v3/service/internal/keeper/keeper_keys.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/keeper/querier.go
  app/v3/service/internal/types/codec.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/invocation.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/msgs_test.go
  app/v3/service/internal/types/querier.go
  client/service/cli/query.go
  client/service/cli/sendtx.go
  client/service/lcd/query.go
  client/service/lcd/sendtx.go
  cmd/iriscli/main.go
  tests/cli/utils.go
Labels: refactoring, service

#2216 R4R: Improve service invocation
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/oracle/internal/keeper/test_common.go
  app/v3/oracle/internal/types/expected_keepers.go
  app/v3/service/abci.go
  app/v3/service/alias.go
  app/v3/service/exported/exported.go
  app/v3/service/genesis.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/binding.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/genesis.go
  app/v3/service/internal/types/invocation.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/msgs_test.go
  app/v3/service/internal/types/params.go
  app/v3/service/internal/types/tags.go
Labels: refactoring, service

#2217 R4R : Adapt service module
  app/v3/oracle/internal/keeper/keeper.go
Labels: oracle

#2218 R4R: Refactor service invocation CLI and LCD
  app/v3/protocol_v3.go
  app/v3/service/alias.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_keys.go
  app/v3/service/internal/keeper/querier.go
  app/v3/service/internal/types/invocation.go
  app/v3/service/internal/types/querier.go
  client/service/cli/flags.go
  client/service/cli/query.go
  client/service/cli/sendtx.go
  client/service/lcd/flags.go
  client/service/lcd/query.go
  client/service/lcd/sendtx.go
  client/service/utils.go
  cmd/iriscli/main.go
  tests/cli/service_test.go
  tests/cli/utils.go
Labels: CLI, refactoring, service

#2222 R4R: Enable service request query by ID and add tags
  app/v3/service/alias.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/keeper/querier.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/querier.go
  app/v3/service/internal/types/tags.go
  client/service/cli/query.go
  client/service/lcd/query.go
  cmd/iriscli/main.go
Labels: API, CLI, service

#2220 R4R: Add service swagger docs
  lite/swagger-ui/swagger.yaml
Labels: documentation, service

#2224 R4R: Fix service invocation
  app/v3/service/abci.go
  app/v3/service/internal/keeper/keeper_keys.go
  client/service/cli/query.go
Labels: bug, service

#2227 R4R: Fix ParseCoins call in client
  client/service/cli/sendtx.go
  client/service/lcd/sendtx.go
Labels: client, service

#2229 R4R: Modify withdrawal address logic in service
  app/v3/service/alias.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/binding.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_keys.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/keeper/querier.go
  app/v3/service/internal/types/binding.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/msgs_test.go
  app/v3/service/internal/types/querier.go
  client/service/cli/flags.go
  client/service/cli/query.go
  client/service/cli/sendtx.go
  client/service/lcd/query.go
  client/service/lcd/sendtx.go
Labels: service
