Repository irisnet/irishub, pull requests merged in 2020-01, with the labels that each got.

#2120 R4R: Prune ivalstore version using rootstore version
  store/iavlstore.go
  store/rootmultistore.go
  store/transientstore.go
  types/store.go
Labels: bug

#2144 R4R: Cherry pick docs update
  docs/cli-client/htlc.md
  docs/zh/cli-client/htlc.md
Labels: documentation

#2151 R4R: Fix rest query height
  modules/coinswap/client/rest/query.go
  modules/htlc/client/rest/query.go
  modules/mint/internal/types/genesis.go
Labels: bug

#2148 R4R: Refactor service definition
  cli_test/service_test.go
  go.mod
  go.sum
  modules/service/alias.go
  modules/service/client/cli/flags.go
  modules/service/client/cli/query.go
  modules/service/client/cli/tx.go
  modules/service/client/rest/query.go
  modules/service/client/rest/rest.go
  modules/service/client/rest/tx.go
  modules/service/handler.go
  modules/service/internal/keeper/binding.go
  modules/service/internal/keeper/definition.go
  modules/service/internal/keeper/invocation.go
  modules/service/internal/keeper/keeper_test.go
  modules/service/internal/keeper/querier.go
  modules/service/internal/types/codec.go
  modules/service/internal/types/definition.go
  modules/service/internal/types/errors.go
  modules/service/internal/types/keys.go
  modules/service/internal/types/msgs.go
  modules/service/internal/types/msgs_test.go
  modules/service/internal/types/parser.go
  modules/service/internal/types/querier.go
  modules/service/internal/types/schema.go
  utils/protoidl/parse.go
  utils/protoidl/parse_test.go
  utils/protoidl/types.go
Labels: refactoring, service

#2163 R4R: Release 0.16.1
  CHANGELOG.md
  docs/get-started/install.md
  docs/zh/get-started/install.md
  lite/swagger-ui/swagger.yaml
  version/version.go
Labels: release

#2164 R4R: Merge documents branch into v0.16.1
  docs/cli-client/htlc.md
  docs/features/coinswap.md
  docs/zh/cli-client/htlc.md
  docs/zh/features/coinswap.md
Labels: documentation, release

#2166 R4R: Merge with master
  docs/package-lock.json
  docs/zh/light-client/intro.md
Labels: documentation

#2165 R4R: Merge into master and release v0.16.1
  .circleci/config.yml
  .github/workflows/BuildAndPublish.yml
  .github/workflows/TestUnit.yml
  CHANGELOG.md
  client/htlc/cli/flags.go
  client/htlc/cli/sendtx.go
  cmd/iris/main.go
  docs/cli-client/htlc.md
  docs/features/coinswap.md
  docs/get-started/install.md
  docs/zh/cli-client/htlc.md
  docs/zh/features/coinswap.md
  docs/zh/get-started/install.md
  lite/swagger-ui/swagger.yaml
  server/snapshot.go
  store/iavlstore.go
  store/rootmultistore.go
  store/transientstore.go
  types/store.go
  version/version.go
Labels: release

#2168 R4R: Refactor service to new module spec
  app/v3/service/abci.go
  app/v3/service/alias.go
  app/v3/service/genesis.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/binding.go
  app/v3/service/internal/keeper/definition.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper.go
  app/v3/service/internal/keeper/keeper_keys.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/keeper/querier.go
  app/v3/service/internal/keeper/test_common.go
  app/v3/service/internal/types/binding.go
  app/v3/service/internal/types/codec.go
  app/v3/service/internal/types/definition.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/expected_keepers.go
  app/v3/service/internal/types/genesis.go
  app/v3/service/internal/types/invocation.go
  app/v3/service/internal/types/metrics.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/params.go
  app/v3/service/internal/types/querier.go
  app/v3/service/internal/types/tags.go
  app/v3/service/keeper.go
  app/v3/service/keeper_test.go
  app/v3/service/tags/tags.go
  app/v3/service/test_common.go
  client/service/cli/query.go
  client/service/lcd/flags.go
  client/service/lcd/query.go
  client/service/lcd/sendtx.go
Labels: refactoring, service

#2162 R4R: Upgrade gov module
  app/v1/distribution/keeper/allocation.go
  app/v3/gov/codec.go
  app/v3/gov/errors.go
  app/v3/gov/expected_keepers.go
  app/v3/gov/handler.go
  app/v3/gov/keeper.go
  app/v3/gov/msgs.go
  app/v3/gov/proposal_community_tax_usage.go
  app/v3/gov/proposal_community_tax_usage_test.go
  app/v3/gov/proposal_token_addition.go
  app/v3/gov/proposal_util.go
  app/v3/gov/proposals.go
  app/v3/gov/test_common.go
  app/v3/protocol_v3.go
  client/gov/cli/flags.go
  client/gov/cli/sendtx.go
  client/gov/lcd/sendtx.go
  docs/cli-client/gov.md
  docs/features/asset.md
  docs/features/governance.md
  docs/zh/cli-client/gov.md
  docs/zh/features/asset.md
  docs/zh/features/governance.md
  lite/swagger-ui/swagger.yaml
  tests/cli/service_test.go
Labels: enhancement, governance

#2170 R4R: Refactor asset
  app/v3/asset/alias.go
  app/v3/asset/exported/exported.go
  app/v3/asset/genesis.go
  app/v3/asset/genesis_test.go
  app/v3/asset/handler.go
  app/v3/asset/internal/keeper/ante.go
  app/v3/asset/internal/keeper/ante_test.go
  app/v3/asset/internal/keeper/fees.go
  app/v3/asset/internal/keeper/keeper.go
  app/v3/asset/internal/keeper/keeper_keys.go
  app/v3/asset/internal/keeper/keeper_test.go
  app/v3/asset/internal/keeper/querier.go
  app/v3/asset/internal/keeper/upgrade.go
  app/v3/asset/internal/types/asset.go
  app/v3/asset/internal/types/codec.go
  app/v3/asset/internal/types/errors.go
  app/v3/asset/internal/types/expected_keepers.go
  app/v3/asset/internal/types/family.go
  app/v3/asset/internal/types/gateway.go
  app/v3/asset/internal/types/genesis.go
  app/v3/asset/internal/types/msgs.go
  app/v3/asset/internal/types/msgs_test.go
  app/v3/asset/internal/types/params.go
  app/v3/asset/internal/types/params_test.go
  app/v3/asset/internal/types/querier.go
  app/v3/asset/internal/types/source.go
  app/v3/asset/internal/types/tags.go
  app/v3/asset/test_common.go
  app/v3/protocol_v3.go
  client/asset/cli/flags.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  client/asset/cli/utils.go
  client/asset/lcd/query.go
  client/asset/lcd/rest.go
  client/asset/lcd/sendtx.go
  client/asset/lcd/utils.go
  client/context/context.go
  cmd/iriscli/main.go
  server/init/collect.go
  server/init/genesis_accts.go
  server/init/testnet.go
  server/init/utils.go
  tests/cli/asset_test.go
  tests/cli/bank_test.go
  tests/cli/utils.go
  types/asset.go
Labels: API, CLI, asset, refactoring

#2172 R4R: Refactor service definition
  app/v3/service/alias.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/binding.go
  app/v3/service/internal/keeper/definition.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_keys.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/keeper/querier.go
  app/v3/service/internal/types/codec.go
  app/v3/service/internal/types/definition.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/msgs_test.go
  app/v3/service/internal/types/querier.go
  app/v3/service/internal/types/schema.go
  client/service/cli/flags.go
  client/service/cli/query.go
  client/service/cli/sendtx.go
  client/service/lcd/query.go
  client/service/lcd/sendtx.go
  client/service/utils.go
  cmd/iriscli/main.go
  go.mod
  go.sum
  tests/cli/service_test.go
  tests/cli/utils.go
Labels: refactoring, service

#2174 R4R: Update asset module docs
  docs/cli-client/asset.md
  docs/features/asset.md
  docs/light-client/intro.md
  docs/zh/cli-client/asset.md
  docs/zh/features/asset.md
  docs/zh/light-client/intro.md
  lite/swagger-ui/swagger.yaml
Labels: asset, documentation

#2176 R4R: Merge v0.16.1 commits
  CHANGELOG.md
  client/htlc/cli/flags.go
  client/htlc/cli/sendtx.go
  cmd/iris/main.go
  docs/cli-client/htlc.md
  docs/features/governance.md
  docs/get-started/install.md
  docs/zh/features/governance.md
  docs/zh/get-started/install.md
  server/snapshot.go
  store/iavlstore.go
  store/rootmultistore.go
  store/transientstore.go
  types/store.go
Labels: build

#2179 R4R: Move coinswap module from v2 to v3
  app/v3/coinswap/alias.go
  app/v3/coinswap/genesis.go
  app/v3/coinswap/handler.go
  app/v3/coinswap/internal/keeper/keeper.go
  app/v3/coinswap/internal/keeper/keeper_test.go
  app/v3/coinswap/internal/keeper/querier.go
  app/v3/coinswap/internal/keeper/querier_test.go
  app/v3/coinswap/internal/keeper/swap.go
  app/v3/coinswap/internal/keeper/swap_test.go
  app/v3/coinswap/internal/keeper/test_common.go
  app/v3/coinswap/internal/types/codec.go
  app/v3/coinswap/internal/types/errors.go
  app/v3/coinswap/internal/types/expected_keepers.go
  app/v3/coinswap/internal/types/keys.go
  app/v3/coinswap/internal/types/msgs.go
  app/v3/coinswap/internal/types/msgs_test.go
  app/v3/coinswap/internal/types/params.go
  app/v3/coinswap/internal/types/params_test.go
  app/v3/coinswap/internal/types/querier.go
  app/v3/coinswap/internal/types/tags.go
  app/v3/coinswap/internal/types/test_common.go
  app/v3/coinswap/internal/types/utils.go
  app/v3/export.go
  app/v3/genesis.go
  app/v3/protocol_v3.go
  client/coinswap/lcd/sendtx.go
  client/coinswap/lcd/utils.go
  client/context/context.go
  client/gov/utils.go
Labels: coin-swap

#2153 R4R: Add REST test
  lcd_test/coinswap_test.go
  lcd_test/helpers.go
  lcd_test/helpers_test.go
  lcd_test/htlc_test.go
  lcd_test/lcd_test.go
  lcd_test/mint_test.go
  lcd_test/rand_test.go
  modules/rand/alias.go
Labels: API, test

#2178 R4R: Revert token min-unit
  app/v3/asset/genesis_test.go
  app/v3/asset/handler.go
  app/v3/asset/internal/keeper/fees.go
  app/v3/asset/internal/keeper/keeper.go
  app/v3/asset/internal/keeper/keeper_test.go
  app/v3/asset/internal/keeper/querier.go
  app/v3/asset/internal/keeper/upgrade.go
  app/v3/asset/internal/types/asset.go
  app/v3/asset/internal/types/msgs.go
  app/v3/asset/internal/types/msgs_test.go
  app/v3/asset/internal/types/querier.go
  client/asset/cli/flags.go
  client/asset/cli/sendtx.go
  client/asset/lcd/sendtx.go
  docs/cli-client/asset.md
  docs/zh/cli-client/asset.md
  tests/cli/asset_test.go
Labels: asset, documentation

#2180 R4R: Change the liquidity pool from account to KV store
  app/v3/asset/exported/exported.go
  app/v3/asset/internal/keeper/keeper.go
  app/v3/coinswap/alias.go
  app/v3/coinswap/genesis.go
  app/v3/coinswap/internal/keeper/keeper.go
  app/v3/coinswap/internal/keeper/keeper_test.go
  app/v3/coinswap/internal/keeper/pool.go
  app/v3/coinswap/internal/keeper/querier.go
  app/v3/coinswap/internal/keeper/querier_test.go
  app/v3/coinswap/internal/keeper/swap.go
  app/v3/coinswap/internal/keeper/swap_test.go
  app/v3/coinswap/internal/keeper/test_common.go
  app/v3/coinswap/internal/keeper/upgrade.go
  app/v3/coinswap/internal/types/expected_keepers.go
  app/v3/coinswap/internal/types/pool.go
  app/v3/coinswap/internal/types/utils.go
  app/v3/protocol_v3.go
  client/asset/cli/sendtx.go
Labels: coin-swap

#2182 R4R: Refactor HTLC query output json
  app/v2/htlc/alias.go
  app/v2/htlc/exported/exported.go
  app/v2/htlc/genesis_test.go
  app/v2/htlc/internal/keeper/keeper_test.go
  app/v2/htlc/internal/keeper/querier.go
  app/v2/htlc/internal/keeper/test_common.go
  app/v2/htlc/internal/types/cdc.go
  app/v2/htlc/internal/types/expected_keepers.go
  app/v2/htlc/internal/types/htlc.go
  app/v2/htlc/internal/types/msgs_test.go
  app/v2/htlc/internal/types/params.go
  client/htlc/cli/flags.go
  client/htlc/cli/query.go
  client/htlc/cli/sendtx.go
  client/htlc/lcd/query.go
  client/htlc/lcd/rest.go
  client/htlc/lcd/senttx.go
  client/htlc/types/htlc.go
  docs/cli-client/htlc.md
  docs/zh/cli-client/htlc.md
  tests/cli/htlc_test.go
  tests/cli/utils.go
Labels: HTLC

#2181 R4R: Refactor service binding
  app/v3/service/abci.go
  app/v3/service/alias.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/binding.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_keys.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/keeper/querier.go
  app/v3/service/internal/types/binding.go
  app/v3/service/internal/types/codec.go
  app/v3/service/internal/types/definition.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/msgs_test.go
  app/v3/service/internal/types/querier.go
  app/v3/service/internal/types/schema.go
  client/service/cli/flags.go
  client/service/cli/query.go
  client/service/cli/sendtx.go
  client/service/lcd/query.go
  client/service/lcd/sendtx.go
  cmd/iriscli/main.go
  tests/cli/service_test.go
  tests/cli/utils.go
Labels: refactoring, service

#2184 R4R: Fix service cli test
  client/service/cli/flags.go
  client/service/cli/query.go
  tests/cli/service_test.go
Labels: service, test

#2185 R4R: Fix querier error msg
  app/v1/distribution/keeper/querier.go
  app/v1/gov/queryable.go
  app/v1/stake/querier/queryable.go
  app/v3/gov/queryable.go
  modules/distribution/keeper/querier.go
  modules/gov/queryable.go
  modules/stake/querier/queryable.go
  tests/cli/bank_test.go
Labels: bug
