Repository irisnet/irishub, pull requests merged in 2020-04, with the labels that each got.

#2338 R4R: Fix empty slice signature verification failed
  app/v3/oracle/internal/types/msgs.go
  app/v3/rand/internal/types/msgs.go
  app/v3/service/internal/types/msgs.go
  client/rand/cli/sendtx.go
Labels: enhancement, service

#2340 R4R: Fix upgrade query
  client/upgrade/cli/query.go
  client/upgrade/lcd/query.go
Labels: client, upgrade

#2332 R4R: Fix genesis
  app/v3/export.go
  app/v3/oracle/alias.go
  app/v3/oracle/genesis.go
  app/v3/oracle/internal/keeper/feed.go
  app/v3/oracle/internal/types/genesis.go
  app/v3/protocol_v3.go
  app/v3/rand/alias.go
  app/v3/rand/genesis.go
  app/v3/rand/internal/types/genesis.go
  app/v3/rand/internal/types/msgs.go
  app/v3/rand/internal/types/request.go
  app/v3/service/genesis.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/types/binding.go
  app/v3/service/internal/types/definition.go
  app/v3/service/internal/types/genesis.go
  app/v3/service/internal/types/invocation.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/schema.go
Labels: oracle, service

#2313 R4R: Add v0.17.0 APIs change log
  docs/light-client/CHANGELOG.md
  docs/light-client/intro.md
  docs/zh/light-client/CHANGELOG.md
  docs/zh/light-client/intro.md
Labels: documentation, release

#2343 R4R: Make threshold updatable when updating context from module
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/oracle/internal/keeper/keeper_test.go
  app/v3/oracle/internal/keeper/test_common.go
  app/v3/oracle/internal/types/expected_keepers.go
  app/v3/service/abci.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/keeper/state_change.go
  app/v3/service/internal/types/invocation.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/tags.go
  client/service/utils/query.go
Labels: enhancement, service

#2345 R4R: Clean cli test
  tests/cli/asset_test.go
  tests/cli/bank_test.go
  tests/cli/distribution_test.go
  tests/cli/gov_test.go
  tests/cli/guardian_test.go
  tests/cli/htlc_test.go
  tests/cli/oracle_test.go
  tests/cli/rand_test.go
  tests/cli/rpc_test.go
  tests/cli/service_test.go
  tests/cli/stake_test.go
  tests/gobash.go
  tests/sim/bank/msgs.go
  tests/sim/bank/sim_test.go
  tests/sim/gov/sim_test.go
  tests/sim/slashing/msgs.go
  tests/sim/stake/msgs.go
  tests/sim/stake/sim_test.go
  tests/util.go
Labels: test

#2347 R4R: Remove oracle module service definition from genesis
  app/v3/genesis.go
  app/v3/oracle/alias.go
  app/v3/oracle/internal/types/service.go
  app/v3/protocol_v3.go
  app/v3/rand/alias.go
  app/v3/rand/genesis_test.go
  app/v3/rand/internal/types/service.go
  tests/cli/oracle_test.go
  tests/cli/rand_test.go
  tests/cli/utils.go
Labels: oracle

#2348 R4R: Complete service context on expired height
  app/v3/service/abci.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_test.go
Labels: bug, service

#2350 R4R: Remove redundant cleanup on export
  app/v3/service/abci.go
  app/v3/service/genesis.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/state_change.go
  app/v3/service/internal/types/invocation.go
  app/v3/service/internal/types/tags.go
  docs/light-client/intro.md
  docs/zh/light-client/intro.md
  lite/swagger-ui/swagger.yaml
Labels: bug, documentation, service

#2346 R4R: Update docs dependencies
  docs/package-lock.json
  docs/package.json
Labels: documentation

#2352 R4R: Update docs dependencies
  docs/package-lock.json
  docs/package.json
Labels: documentation

#2356 R4R: Modify pricing schema
  app/v3/service/exported/exported.go
  app/v3/service/internal/keeper/binding.go
  app/v3/service/internal/types/binding.go
  app/v3/service/internal/types/schema.go
  docs/cli-client/service.md
  docs/zh/cli-client/asset.md
  docs/zh/cli-client/service.md
  docs/zh/features/service-pricing.json
  docs/zh/features/service-result.json
  docs/zh/features/service.md
  docs/zh/features/test.proto
Labels: service

#2354 R4R: Update zh docs for service feature
  docs/features/service-pricing.json
  docs/features/service.md
  docs/zh/features/service.md
Labels: documentation, service

#2360 R4R: Improve pricing precision
  app/v3/service/internal/keeper/binding.go
  app/v3/service/internal/keeper/invocation.go
Labels: enhancement, service

#2361 R4R: Reset params on upgrading
  app/v3/service/internal/keeper/upgrade.go
Labels: bug, service

#2365 R4R: Release v0.16.2
  CHANGELOG.md
  docs/get-started/install.md
  docs/zh/get-started/install.md
  go.mod
  go.sum
  lite/swagger-ui/swagger.yaml
  version/version.go
Labels: release

#2363 R4R: Add query system schemas
  app/v3/service/alias.go
  app/v3/service/internal/keeper/querier.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/querier.go
  client/service/cli/query.go
  client/service/lcd/flags.go
  client/service/lcd/query.go
  client/service/utils/schema.go
  cmd/iriscli/main.go
  docs/cli-client/service.md
  docs/light-client/intro.md
  docs/zh/cli-client/service.md
  docs/zh/light-client/intro.md
  lite/swagger-ui/swagger.yaml
Labels: documentation, enhancement, service

#2370 R4R: Modify and complete service feature zh doc
  docs/features/service.md
  docs/zh/features/service.md
Labels: documentation, service
