Repository irisnet/irishub, pull requests merged in 2020-03, with the labels that each got.

#2219 R4R: Refactor service invocation CLI tests
  tests/cli/service_test.go
  tests/cli/utils.go
Labels: CLI, service, test

#2226 R4R: Fix a few glitches in the oracle module
  app/v3/oracle/alias.go
  app/v3/oracle/internal/keeper/querier.go
  app/v3/oracle/internal/types/codec.go
  app/v3/oracle/internal/types/expected_keepers.go
  app/v3/oracle/internal/types/feed.go
  app/v3/service/exported/exported.go
  client/oracle/cli/query.go
  client/oracle/cli/sendtx.go
Labels: oracle

#2235 R4R: Update service swagger
  lite/swagger-ui/swagger.yaml
Labels: documentation, service

#2246 R4R: Fix service CLI test
  cmd/iriscli/main.go
  tests/cli/service_test.go
Labels: CLI, test

#2234 R4R: Improve oracle documentation & cli_test
  client/oracle/cli/flags.go
  client/oracle/cli/sendtx.go
  docs/cli-client/oracle.md
  docs/features/oracle.md
  docs/light-client/intro.md
  docs/zh/cli-client/oracle.md
  docs/zh/features/oracle.md
  docs/zh/light-client/intro.md
  tests/cli/oracle_test.go
  tests/cli/utils.go
Labels: documentation, oracle

#2248 R4R: Modify service LCD docs
  docs/light-client/intro.md
  docs/zh/light-client/intro.md
Labels: API, documentation, service

#2254 R4R: Move rand module to v3
  app/v3/rand/abci.go
  app/v3/rand/alias.go
  app/v3/rand/exported/exported.go
  app/v3/rand/genesis.go
  app/v3/rand/genesis_test.go
  app/v3/rand/handler.go
  app/v3/rand/internal/keeper/keeper.go
  app/v3/rand/internal/keeper/keeper_keys.go
  app/v3/rand/internal/keeper/keeper_test.go
  app/v3/rand/internal/keeper/querier.go
  app/v3/rand/internal/types/cdc.go
  app/v3/rand/internal/types/errors.go
  app/v3/rand/internal/types/genesis.go
  app/v3/rand/internal/types/msgs.go
  app/v3/rand/internal/types/msgs_test.go
  app/v3/rand/internal/types/params.go
  app/v3/rand/internal/types/querier.go
  app/v3/rand/internal/types/rand.go
  app/v3/rand/internal/types/request.go
  app/v3/rand/internal/types/rng.go
  app/v3/rand/internal/types/tags.go
  app/v3/rand/test_common.go
Labels: refactoring

#2252 R4R: Fix service
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/oracle/internal/keeper/keeper_test.go
  app/v3/oracle/internal/keeper/test_common.go
  app/v3/oracle/internal/types/expected_keepers.go
  app/v3/service/abci.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/msgs_test.go
  client/service/cli/flags.go
  client/service/cli/sendtx.go
  types/utils.go
Labels: bug, enhancement, service

#2259 R4R: Optimize service
  app/v3/protocol_v3.go
  app/v3/service/abci.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_keys.go
  app/v3/service/internal/keeper/querier.go
  client/service/cli/sendtx.go
  client/service/lcd/flags.go
  client/service/lcd/query.go
  lite/swagger-ui/swagger.yaml
Labels: API, CLI, documentation, service

#2263 R4R: Fix batch response count
  app/v3/service/abci.go
Labels: enhancement, service

#2261 R4R: Format ID using hex encoding
  app/v3/asset/internal/keeper/keeper_keys.go
  app/v3/oracle/internal/keeper/feed.go
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/oracle/internal/keeper/test_common.go
  app/v3/oracle/internal/types/expected_keepers.go
  app/v3/oracle/internal/types/feed.go
  app/v3/rand/genesis_test.go
  app/v3/service/abci.go
  app/v3/service/alias.go
  app/v3/service/genesis.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/keeper/querier.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/invocation.go
  app/v3/service/internal/types/msgs_test.go
  tests/cli/service_test.go
Labels: enhancement, oracle, service

#2265 R4R: Add callback when response count is insufficient
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/oracle/internal/keeper/test_common.go
  app/v3/service/abci.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/types/invocation.go
Labels: enhancement, service

#2240 R4R: Modify service CLI docs
  client/service/cli/flags.go
  client/service/cli/query.go
  client/service/cli/sendtx.go
  client/service/lcd/sendtx.go
  docs/cli-client/service.md
  docs/zh/cli-client/service.md
Labels: CLI, documentation

#2266 R4R: Typo fix
  docs/cli-client/service.md
  docs/zh/cli-client/service.md
Labels: documentation, service

#2268 R4R: Output request id
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/types/invocation.go
Labels: enhancement, service

#2270 R4R: Modify output for the disabled time
  app/v3/service/internal/types/binding.go
Labels: enhancement, service

#2257 R4R: Add tags and coin flow
  app/v3/service/abci.go
  app/v3/service/alias.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/types/tags.go
  types/tags.go
Labels: enhancement, service

#2272 R4R: Add rand cli test & update docs
  client/rand/cli/query.go
  docs/cli-client/rand.md
  docs/zh/cli-client/rand.md
  go.mod
  go.sum
  lite/swagger-ui/swagger.yaml
  tests/cli/asset_test.go
  tests/cli/bank_test.go
  tests/cli/distribution_test.go
  tests/cli/guardian_test.go
  tests/cli/oracle_test.go
  tests/cli/rand_test.go
  tests/cli/rpc_test.go
  tests/cli/stake_test.go
  tests/cli/utils.go
Labels: documentation, random, test

#2278 R4R: Revert service tags
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/service/abci.go
  app/v3/service/internal/keeper/invocation.go
Labels: bug, service

#2273 R4R: Fix oracle bug
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/oracle/internal/keeper/keeper_test.go
  app/v3/oracle/internal/types/errors.go
  app/v3/oracle/internal/types/msgs.go
  client/oracle/cli/flags.go
Labels: oracle

#2279 R4R: Add tags for rand module
  app/v3/rand/abci.go
  app/v3/rand/alias.go
  app/v3/rand/internal/keeper/service.go
  app/v3/rand/internal/types/request.go
  app/v3/rand/internal/types/tags.go
Labels: random

#2247 R4R: Simplify and improve FungibleToken model and related logic
  app/v1/asset/internal/keeper/keeper.go
  app/v1/asset/internal/keeper/keeper_keys.go
  app/v1/asset/internal/types/asset.go
  app/v1/auth/keeper.go
  app/v1/bank/querier.go
  app/v1/bank/querier_test.go
  app/v3/asset/alias.go
  app/v3/asset/genesis_test.go
  app/v3/asset/handler.go
  app/v3/asset/internal/keeper/ante.go
  app/v3/asset/internal/keeper/ante_test.go
  app/v3/asset/internal/keeper/keeper.go
  app/v3/asset/internal/keeper/keeper_keys.go
  app/v3/asset/internal/keeper/keeper_test.go
  app/v3/asset/internal/keeper/querier.go
  app/v3/asset/internal/keeper/test_common.go
  app/v3/asset/internal/keeper/upgrade.go
  app/v3/asset/internal/types/asset.go
  app/v3/asset/internal/types/codec.go
  app/v3/asset/internal/types/expected_keepers.go
  app/v3/asset/internal/types/msgs.go
  app/v3/asset/internal/types/msgs_test.go
  app/v3/asset/internal/types/querier.go
  app/v3/asset/internal/types/tags.go
  app/v3/protocol_v3.go
  client/asset/cli/flags.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  client/asset/lcd/query.go
  client/asset/lcd/rest.go
  client/asset/lcd/sendtx.go
  client/bank/cli/query.go
  client/bank/lcd/query.go
  client/bank/lcd/rest.go
  client/context/context.go
  tests/cli/asset_test.go
  types/asset.go
Labels: asset, refactoring

#2274 R4R: Update random feature doc
  docs/features/random.md
  docs/zh/features/random.md
Labels: documentation, random

#2282 R4R: Optimize service
  app/v3/service/abci.go
  app/v3/service/internal/keeper/invocation.go
Labels: enhancement, service

#2283 R4R: Update tendermint version
  go.mod
  go.sum
Labels: tendermint

#2276 R4R: Modify genesis of service
  app/v3/oracle/alias.go
  app/v3/oracle/genesis.go
  app/v3/oracle/internal/types/service.go
  app/v3/protocol_v3.go
  app/v3/rand/alias.go
  app/v3/rand/genesis.go
  app/v3/rand/internal/keeper/service.go
  app/v3/rand/internal/types/keys.go
  app/v3/rand/internal/types/service.go
  app/v3/service/genesis.go
  app/v3/service/internal/keeper/binding.go
  app/v3/service/internal/keeper/definition.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/types/binding.go
  app/v3/service/internal/types/definition.go
  app/v3/service/internal/types/genesis.go
  app/v3/service/internal/types/params.go
  tests/cli/rand_test.go
Labels: service

#2288 R4R: Improve FungibleToken related naming
  app/options.go
  app/v0/genesis.go
  app/v1/asset/internal/keeper/querier.go
  app/v1/asset/internal/types/asset.go
  app/v1/asset/test_common.go
  app/v1/auth/keeper.go
  app/v1/bank/querier.go
  app/v1/genesis.go
  app/v1/gov/params.go
  app/v1/gov/test_common.go
  app/v1/rand/test_common.go
  app/v1/service/keeper_test.go
  app/v1/service/test_common.go
  app/v2/coinswap/internal/types/utils.go
  app/v2/genesis.go
  app/v3/asset/internal/types/asset.go
  app/v3/coinswap/internal/types/utils.go
  app/v3/genesis.go
  app/v3/gov/params.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/types/msgs_test.go
  client/context/context.go
  modules/gov/params.go
  modules/gov/test_common.go
  modules/service/test_common.go
  types/coin.go
  types/coin_test.go
  types/coin_type.go
  types/config.go
Labels: asset, refactoring

#2289 R4R: Fix swagger error
  app/v3/oracle/internal/types/feed.go
  lite/swagger-ui/swagger.yaml
Labels: oracle

#2291 R4R: Add authority check for operations on the request context
  app/v3/service/handler.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/types/errors.go
Labels: enhancement, service

#2297 R4R: Fix service upgrade & fix cli test
  app/v3/protocol_v3.go
  app/v3/service/genesis.go
  app/v3/service/internal/keeper/upgrade.go
  tests/cli/rand_test.go
  tests/cli/service_test.go
  tests/util.go
Labels: random, service

#2284 R4R: Fix service
  app/v3/service/abci.go
  app/v3/service/internal/keeper/invocation.go
Labels: bug, enhancement, service

#2275 R4R: Add result schema
  app/v3/service/handler.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/invocation.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/msgs_test.go
  app/v3/service/internal/types/schema.go
  client/service/cli/flags.go
  client/service/cli/sendtx.go
  client/service/lcd/query.go
  client/service/lcd/sendtx.go
  docs/cli-client/service.md
  docs/zh/cli-client/service.md
  lite/swagger-ui/swagger.yaml
  tests/cli/oracle_test.go
  tests/cli/rand_test.go
  tests/cli/service_test.go
Labels: client, documentation, enhancement, service, test

#2296 R4R: Improve voucher related naming
  app/v1/auth/keeper.go
  app/v2/coinswap/internal/types/msgs.go
  app/v3/coinswap/alias.go
  app/v3/coinswap/genesis.go
  app/v3/coinswap/internal/keeper/keeper.go
  app/v3/coinswap/internal/keeper/keeper_test.go
  app/v3/coinswap/internal/keeper/pool.go
  app/v3/coinswap/internal/keeper/querier.go
  app/v3/coinswap/internal/keeper/swap.go
  app/v3/coinswap/internal/keeper/swap_test.go
  app/v3/coinswap/internal/keeper/upgrade.go
  app/v3/coinswap/internal/types/errors.go
  app/v3/coinswap/internal/types/msgs.go
  app/v3/coinswap/internal/types/msgs_test.go
  app/v3/coinswap/internal/types/querier.go
  app/v3/coinswap/internal/types/test_common.go
  app/v3/coinswap/internal/types/utils.go
  client/coinswap/lcd/sendtx.go
  client/coinswap/lcd/utils.go
  client/context/context.go
  types/asset.go
Labels: coin-swap, refactoring

#2304 R4R: Fix random output encoding
  app/v3/rand/internal/keeper/keeper_test.go
  app/v3/rand/internal/keeper/service.go
  app/v3/rand/internal/keeper/service_test.go
  app/v3/rand/internal/types/rand.go
  app/v3/rand/internal/types/request.go
  client/rand/cli/query.go
  client/rand/lcd/utils.go
  client/rand/types/rand.go
  tests/cli/rand_test.go
  tests/cli/utils.go
Labels: random

#2299 R4R: Fix random client
  client/rand/cli/query.go
  client/rand/cli/sendtx.go
  client/rand/lcd/sendtx.go
Labels: random

#2300 R4R: Add module service definition to genesis
  app/v3/genesis.go
  app/v3/service/internal/types/genesis.go
  tests/cli/oracle_test.go
  tests/cli/rand_test.go
  tests/cli/utils.go
Labels: service

#2303 R4R: Refactor service callback function
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/oracle/internal/types/tags.go
  app/v3/rand/abci.go
  app/v3/rand/internal/keeper/keeper.go
  app/v3/rand/internal/keeper/service.go
  app/v3/rand/internal/types/tags.go
  app/v3/service/abci.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/types/invocation.go
  types/tags.go
Labels: enhancement, oracle, random, service

#2298 R4R: Modify asset and coinswap docs
  client/asset/cli/sendtx.go
  docs/cli-client/asset.md
  docs/light-client/intro.md
  docs/zh/cli-client/asset.md
  docs/zh/light-client/intro.md
  lite/swagger-ui/swagger.yaml
Labels: asset, coin-swap, documentation

#2306 R4R: Oracle remove total field
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/oracle/internal/keeper/keeper_test.go
  app/v3/oracle/internal/keeper/querier_test.go
  app/v3/oracle/internal/keeper/test_common.go
  app/v3/oracle/internal/types/msgs.go
  app/v3/oracle/internal/types/msgs_test.go
  client/oracle/cli/flags.go
  client/oracle/cli/sendtx.go
  client/oracle/lcd/sendtx.go
  docs/cli-client/oracle.md
  docs/features/oracle.md
  docs/zh/cli-client/oracle.md
  docs/zh/features/oracle.md
  lite/swagger-ui/swagger.yaml
  tests/cli/oracle_test.go
Labels: CLI, oracle

#2293 R4R: Refactor service module
  app/baseapp.go
  app/v3/oracle/genesis.go
  app/v3/oracle/handler.go
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/oracle/internal/keeper/keeper_test.go
  app/v3/oracle/internal/keeper/querier_test.go
  app/v3/oracle/internal/keeper/test_common.go
  app/v3/oracle/internal/types/expected_keepers.go
  app/v3/rand/abci.go
  app/v3/rand/genesis.go
  app/v3/rand/genesis_test.go
  app/v3/rand/internal/keeper/keeper.go
  app/v3/rand/internal/keeper/keeper_test.go
  app/v3/rand/internal/keeper/service.go
  app/v3/rand/internal/keeper/service_test.go
  app/v3/rand/internal/keeper/test_common.go
  app/v3/rand/internal/types/expected_keepers.go
  app/v3/rand/internal/types/request.go
  app/v3/service/abci.go
  app/v3/service/alias.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_keys.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/keeper/querier.go
  app/v3/service/internal/keeper/state_change.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/invocation.go
  app/v3/service/internal/types/invocation_test.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/msgs_test.go
  app/v3/service/internal/types/params.go
  app/v3/service/internal/types/querier.go
  app/v3/service/internal/types/tags.go
  client/service/cli/query.go
  client/service/cli/sendtx.go
  client/service/lcd/query.go
  client/service/lcd/sendtx.go
  client/service/utils/query.go
  client/tendermint/tx/querytx.go
  tests/cli/asset_test.go
  tests/cli/oracle_test.go
  tests/cli/rand_test.go
  tests/cli/service_test.go
  types/context.go
  types/tags.go
Labels: refactoring, service

#2307 R4R: Return error in unmarshal functions
  app/v3/asset/internal/types/family.go
  app/v3/asset/internal/types/source.go
  app/v3/gov/depositsvotes.go
  app/v3/gov/proposal_community_tax_usage.go
  app/v3/gov/proposals.go
  docs/zh/cli-client/service.md
Labels: bug

#2301 R4R: Add pricing logic
  app/v3/asset/exported/exported.go
  app/v3/asset/internal/keeper/keeper.go
  app/v3/asset/internal/types/asset.go
  app/v3/coinswap/internal/types/expected_keepers.go
  app/v3/protocol_v3.go
  app/v3/service/abci.go
  app/v3/service/internal/keeper/binding.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper.go
  app/v3/service/internal/keeper/keeper_keys.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/keeper/test_common.go
  app/v3/service/internal/types/binding.go
  app/v3/service/internal/types/expected_keepers.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/msgs_test.go
  app/v3/service/internal/types/schema.go
  tests/cli/oracle_test.go
  tests/cli/rand_test.go
  tests/cli/service_test.go
Labels: enhancement, service

#2311 R4R: Use protocol store key
  app/v3/asset/internal/keeper/upgrade.go
Labels: bug

#2309 R4R: Add state callback
  app/v3/oracle/internal/keeper/feed.go
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/oracle/internal/keeper/test_common.go
  app/v3/oracle/internal/types/expected_keepers.go
  app/v3/rand/internal/keeper/keeper.go
  app/v3/rand/internal/keeper/service.go
  app/v3/rand/internal/keeper/test_common.go
  app/v3/rand/internal/types/expected_keepers.go
  app/v3/service/abci.go
  app/v3/service/exported/exported.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/keeper/state_change.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/invocation.go
  tests/cli/oracle_test.go
  tests/cli/rand_test.go
  tests/cli/service_test.go
Labels: enhancement, service

#2312 R4R: Modify service timeout logic
  app/v3/rand/genesis_test.go
  app/v3/rand/internal/keeper/keeper_test.go
  app/v3/rand/internal/keeper/service_test.go
  app/v3/service/abci.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/binding.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/types/binding.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/msgs_test.go
  client/service/cli/flags.go
  client/service/cli/sendtx.go
  client/service/lcd/sendtx.go
  docs/cli-client/service.md
  docs/zh/cli-client/service.md
  lite/swagger-ui/swagger.yaml
  tests/cli/oracle_test.go
  tests/cli/rand_test.go
  tests/cli/service_test.go
Labels: enhancement, service

#2314 R4R: Change /service/requests to /service/contexts
  client/service/cli/sendtx.go
  client/service/lcd/sendtx.go
  docs/cli-client/service.md
  docs/light-client/intro.md
  docs/zh/cli-client/service.md
  docs/zh/light-client/intro.md
  lite/swagger-ui/swagger.yaml
Labels: API, documentation, service

#2316 R4R: Fix asset
  app/v3/asset/internal/keeper/querier.go
  lite/swagger-ui/swagger.yaml
Labels: asset, bug

#2321 R4R: Remove useless field
  app/v3/oracle/internal/keeper/querier.go
  app/v3/oracle/internal/keeper/querier_test.go
  app/v3/oracle/internal/types/feed.go
  lite/swagger-ui/swagger.yaml
Labels: enhancement, oracle

#2319 R4R: Improve asset
  app/v3/asset/internal/keeper/querier.go
  app/v3/asset/internal/types/querier.go
  client/asset/cli/flags.go
  client/asset/cli/query.go
  client/asset/cli/sendtx.go
  client/asset/cli/utils.go
  client/asset/lcd/query.go
  client/asset/lcd/rest.go
  client/asset/lcd/sendtx.go
  docs/cli-client/asset.md
  docs/light-client/intro.md
  docs/zh/cli-client/asset.md
  docs/zh/light-client/intro.md
  lite/swagger-ui/swagger.yaml
  tests/cli/asset_test.go
  tests/cli/utils.go
Labels: asset, client, documentation, enhancement

#2322 R4R: Fix random request
  app/v3/rand/internal/keeper/keeper.go
Labels: bug

#2326 R4R: Remove gateway and tokenID related errors and comments
  app/v3/asset/genesis_test.go
  app/v3/asset/internal/keeper/fees.go
  app/v3/asset/internal/types/errors.go
Labels: asset, documentation, enhancement

#2328 R4R: Fix genesis init and logger
  app/v3/genesis.go
  app/v3/oracle/internal/keeper/keeper.go
  app/v3/rand/internal/keeper/service.go
Labels: oracle, random, service

#2329 R4R: Fix coinswap api
  client/coinswap/lcd/query.go
Labels: API, coin-swap

#2327 R4R: Improve service
  app/v3/service/abci.go
  app/v3/service/alias.go
  app/v3/service/internal/keeper/fees.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper.go
  app/v3/service/internal/keeper/keeper_keys.go
  app/v3/service/internal/keeper/querier.go
  app/v3/service/internal/keeper/upgrade.go
  app/v3/service/internal/types/querier.go
  client/service/cli/flags.go
  client/service/cli/query.go
  client/service/cli/sendtx.go
  client/service/lcd/query.go
  client/service/lcd/sendtx.go
  client/service/utils/query.go
  docs/cli-client/service.md
  docs/zh/cli-client/service.md
  lite/swagger-ui/swagger.yaml
Labels: documentation, enhancement, service

#2333 R4R: Normalize service
  app/v3/service/abci.go
  app/v3/service/alias.go
  app/v3/service/genesis.go
  app/v3/service/handler.go
  app/v3/service/internal/keeper/binding.go
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_test.go
  app/v3/service/internal/keeper/state_change.go
  app/v3/service/internal/types/binding.go
  app/v3/service/internal/types/codec.go
  app/v3/service/internal/types/definition.go
  app/v3/service/internal/types/errors.go
  app/v3/service/internal/types/genesis.go
  app/v3/service/internal/types/invocation.go
  app/v3/service/internal/types/metrics.go
  app/v3/service/internal/types/msgs.go
  app/v3/service/internal/types/msgs_test.go
  app/v3/service/internal/types/querier.go
  client/service/cli/flags.go
  client/service/cli/sendtx.go
  client/service/lcd/query.go
  client/service/lcd/sendtx.go
  client/service/utils/query.go
  cmd/iriscli/main.go
  docs/cli-client/service.md
  docs/light-client/intro.md
  lite/swagger-ui/swagger.yaml
Labels: enhancement, service

#2331 R4R: Fix restarting request context
  app/v3/service/internal/keeper/invocation.go
  app/v3/service/internal/keeper/keeper_keys.go
  app/v3/service/internal/keeper/keeper_test.go
Labels: bug, service
